<template>
  <!-- 3 ICONS DE MEDIO -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-12 px-xl-5 bg-white">
        <div class="icon">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <img src="img/icon/1.png" :alt="this.$store.state.config.k1" />
                <p>Atropellamiento</p>
              </div>
              <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
                <img src="img/icon/2.png" :alt="this.$store.state.config.k2" />
                <p>Extensión de Gastos Medicos Mayores</p>
              </div>
              <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
                <img src="img/icon/3.png" :alt="this.$store.state.config.k3" />
                <p>Reparación de Agencias</p>
              </div>
              <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
                <img src="img/icon/4.png" :alt="this.$store.state.config.k3" />
                <p>Robo de objetos Personales</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>