<template>
  <div class="container-fluid msjEjecutivo">
    <div class="row">
      <div class="col-12 thanks p-0">
        <div class="txtEjecutivos">
          <p class="m-0">Tenemos Increíbles descuentos,</p>
          <p class="mt-0">Por favor ponte en contacto con nosotros para recibir más información</p>
          <a class="btn did" :href="'tel:55'+$store.state.config.telefonoAS">
            <span class="rag">Recibir Asesoria Gratuita</span>
            (55) {{$store.state.config.telefonoAS}}
            <img src="img/icon/chevron.png" alt="Recibir Asesoria Gratuita" />
          </a>
        </div>
      </div>
    </div>
  </div>
</template>