<template>
  <div class="container-fluid msjEjecutivo">
    <div class="row">
      <div class="col-11 m-auto thanks p-0">
        <div class="txtEjecutivos caractsg">
          <p>
           En un momento nuestros asesores  se comunicarán <br>
           contigo, para brindarte una atención personalizada.
            <!--<a :href="'tel:55'+$store.state.config.telefonoAS">(55) {{$store.state.config.telefonoAS}}</a>-->
          </p>
        </div>
      </div>
    </div>
  </div>
</template>