/*estilos de principal*/
.img-prom{
  position: absolute;
  left: 65%;
  
}
.sombra{box-shadow: 0 0 8px 0px rgb(25 66 136 / 23%);border-radius: 15px;}
.tableBorderI{border-radius: 15px 0px 0px 0px !important;}
.tableBorderF{border-radius: 0px 15px 0px 0px !important;}
.tableBorderI2{border-radius: 0px 0px 0px 15px !important;}
.tableBorderF2{border-radius: 0px 0px 15px 0px !important;}
.encabezadoT{background: linear-gradient(90deg, rgba(255,96,7,1) 34%, rgba(255,6,88,1) 52%); color: #fff;}
.tablaC{background-color: #f8f8f8;}
.circleF{padding: 2px 8px 2px 8px; background-color: #ff6007; color: #fff;}
.encabezadoC{background: linear-gradient(90deg, rgba(255,96,7,1) 70%, rgba(255,6,88,1) 92%); color: #fff; font-size: 1.3rem;}
.encabezadoC2{background: linear-gradient(90deg, rgba(255,6,88,1) 90%, rgba(255,96,7,1) 97%); color: #fff; font-size: 1.3rem;}
.tam{
  font-size: 1rem;
}
.bcardg {
  box-shadow: 0 0 8px 0 rgb(25 66 136 / 23%);
  text-align: center;
}
.bcard, .bcardg {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.img-lluvia {
  position: absolute;
  z-index: 99;
  width: auto;
  height: 57px;
  left: 12%;
}
.tumejor{
  font-size: 30px;
}
.mejorop{
  font-weight: 600;
}
.bordecard{
  padding-bottom: 40px;
  border-radius: 40px!important;
  box-shadow: 0 0 8px 0px rgb(25 66 136 / 23%);

}
.bordecardcont{
  border-radius: 15px!important;
  box-shadow: 0 0 8px 0px rgb(25 66 136 / 23%);
  padding: 10px 0px 5px;
}
.ici{
  width: auto;
  height: 80px;
}
.tci{
  font-size: 17px;
  font-weight: 700;
  line-height: 1;
  margin: 0px 18px;
}
.card-header:first-child {border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0 !important;}
.card{border-radius: 1.25rem !important;}
.btn-successCuadrado {
  background-color: #ff035c!important;
  border-radius: 15px !important;
  color: #fff !important;
  height: 62px !important;
  font-size:1.8rem !important;
}   
.multiselect__option--highlight {
  background: #ff005b !important;
  outline: none;
  color: #fff;
  text-decoration: none !important;
}
.navbar .tinfo{color: #4e5c6b;font-weight: 600;}
.navbar .tinfo:hover{color: #ff005b ;}
.b-flotante{position: fixed;z-index: 98; top: 7rem;}
/*.btnTel .btn-flo{background-color: #f8f8f8;    
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 10px 30px;
  border: none;
  width: 20%;
}*/
.multiselect {padding: 0;height: auto!important;}
.form-floating>.form-control:-webkit-autofill~label {
  opacity: .65;
  transform: scale(.65) translateY(-0.5rem) translateX(0.15rem);
}
.btnTel .migonum {
  font-size: 25px; 
  padding: 0;
  margin: 0 0 -5px 10px;
  color: #4e5c6b;
}
.btnTel .comple {
  text-align: right;
  font-size: 20px;
  padding: 0;
  margin:-5px 8px 0 0;
  color: #4e5c6b;
  font-weight: 600;
}
.btnTel .tel-f{width: 35px; margin: 0;}
/*.b-zoom1{width: 250px; height: 250px; 
  background-image: url(/img/primero/01.png);background-repeat: no-repeat;
  background-size: contain; }
.b-zoom1:hover{width: 600px; height: 600px; 
  background-image: url(/img/primero/01.png);background-repeat: no-repeat;
  position: relative; z-index: 999;}

.b-zoom2{width: 250px; height: 250px; 
  background-image: url(/img/primero/03.png);background-repeat: no-repeat;background-size: contain; }
.b-zoom2:hover{width: 600px; height: 600px; 
  background-image: url(/img/primero/03.png);background-repeat: no-repeat;
  position: relative; z-index: 999;margin-left: -70px;}  

.b-zoom3{width: 250px; height: 250px; 
  background-image: url(/img/primero/04.png);background-repeat: no-repeat;background-size: contain; }
.b-zoom3:hover{width: 600px; height: 600px; 
  background-image: url(/img/primero/04.png);background-repeat: no-repeat;
  position: relative; z-index: 999; margin-left: -190px;}*/

.redes{width: 20px!important; height: 20px!important;}
.titmigop{font-weight: 700;}
.fimg{width: 120px; height: 85px;margin: auto; border-radius: 10px;padding: 10px;}
.bCotiza{background-color: #ff005b; color: white!important;
  font-size: 1.2rem; padding: 0.5rem 1.3rem; margin: 10px 0px; border-radius: 5px; font-weight: 600;}
.bCotiza:hover{background-color: #de0250 ;}
.botonesimg{margin-top: 8rem;}

.carousel-indicators li {background-color: #ff005b;width: 15px;height: 15px; }

.subtext2{color: #4e5c6b; font-size: 45px;}

.imgf{background-image: url(/img/primero/imagen01.png);background-repeat: no-repeat;
   width: 240px;height: 135px; margin: auto;border-radius: 25px;background-size: cover;}
.imgf2{background-image: url(/img/primero/imagen02.png);background-repeat: no-repeat;
  width: 240px;height: 135px; margin: auto;border-radius: 25px;background-size: cover;}
.imgf3{background-image: url(/img/primero/imagen03.png);background-repeat: no-repeat;
  width: 240px;height: 135px; margin: auto;border-radius: 25px;background-size: cover;}

.t-map{line-height: 1; font-size: 35px;font-weight: 600;}

.circulop {
  width: 600px;
  height: 600px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fbfbfb;
  margin: 30px auto;
}
.textmap{position: absolute;}
.cencirculo{margin: 115px 0px;}
.cuadros{background-color: white;}
.textfo{color: #fff; padding-top: 44%; font-size: 14px;font-weight: 600;}
.fondogris{
  background-color: rgba(0,0,0,.35);
  position: absolute;
  width: 240px;height: 135px;
  top: 0;
  border-radius: 25px;
}
.textfoo2{font-size: 22px; font-weight: 600;}
.textfoo3{line-height: 1; font-size: 14px;}
.colfoo{background-color: #f1f1f1;}
.tquienes{font-size: 55px; font-weight: 700; margin-bottom: 5%;}
.tfquienes{margin-bottom: 9rem; font-weight: 700;}
.tpro{font-weight: 600;}

.cuad-prom{background:#f1f1f1; border-radius:15px;}
.tpromoc{font-size: 50px;font-weight: 600;margin-top: 40px;}
.imgl img{width: 145px!important;filter: grayscale(1);}
.tpasos{line-height: 1;}
.fheader{background:linear-gradient(#fff 70%, transparent 30%)}
.titprincipal{font-size: 70px;}
.manos{margin-top: 40px;}
li .puntos{width: 80px!important; height: 80px!important;margin: 35px 0px;}
li .pdos{margin-left: 110px;}
li .ptres{margin-left: 135px;}
li .pcuatro{margin-left: 70px;}
.gris{background-color: #fbfbfb;}
.bordeimg{border-radius: 20px;}
.tvisita{color:#4e5c6b; font-size: 60px; font-weight: 700; text-decoration: underline!important;}
.tvisita:hover{color:#4e5c6b; text-decoration: underline!important;}
.titprod{font-weight: 600;}
.t-enmedio{font-size: 3.5rem; line-height: 1;text-align: center;color: #4e5c6b; font-weight: bold;}
.t-enmedio2{font-size: 3.5rem; line-height: 1;text-align: center;color: #4e5c6b;}

.numdesc{font-size: 6rem; font-weight: bold;}
.pordesc{color: #fe005f;font-weight: bold; font-size: 4rem!important;display: inline-flex;}
.recalianza {
  width: 65rem;
  height: 12rem;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin: 15px auto 100px;
}
.imaseg{margin: auto -115px;}


div.prueba{
  position: absolute;
  top: 200%;
  left: 3%;
  transform: translate(-50%, -70%);
  background-color: #f8f8f8;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
div.prueba:hover{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
button{
  margin:auto;
  border: none;
  background-color: transparent;
  transition: background-color 0.5s;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
}
[tooltip]{
  margin:10px 15px;
  position:relative;
}
[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: #f8f8f8;
    z-index: 100;
  opacity:0;
}
[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: #f8f8f8;
    text-align: right;
    color: #4e5c6b;
    padding:5px 10px;
    font-size: 22px;
    min-width: 140px;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    width: 178px;
    height: 133%;
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

[toltip-position='left']::before{
  left:0%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}
[toltip-position='top']::before{
  left:50%;
}
[toltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[toltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:1px;
  transform:translatey(-50%) rotate(90deg)
}
[toltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[toltip-position='top']::after{
  left:50%;
}
[toltip-position='buttom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[toltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:0px;
  transform: translateX(0%)   translateY(-50%);
}
.tmenu{
  color:#4e5c6b !important;
  font-weight: bold;
}
.fichamulti{
  box-shadow: 0 0 10px 3px rgb(25 66 136 / 23%);
  border-radius: 5px;
}
.acentoBorde {
  border: 2px solid #ff0e55;
}

.multiselect__tags {
  min-height: 52px;
  
  border: none !important; 
  background: none !important; 
  font-size: 1.2rem !important;
}
.multiselect{
  width: auto!important;
}
.form-control{
  height: 52px;
  font-size: 1rem!important;
  color: #4e5c6b;
}
.subnuevo{
  font-size: 28px;
  font-weight: bold;
}
.promonuevo{
  font-weight: bold;
}
.lcl {
  display: -webkit-box;
  line-height: 1;
  margin-bottom: 25px;
}
.opc{
  border-top: solid #fff2ed 1px;
  border-bottom: solid #fff2ed 1px;

}
.migoof {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
}

/*+********************************/
.test{
  background: #ffe1d6;
}
body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  /*background: #fafaff;*/
  font-size: 18px;
  color: #4e5c6b;
  line-height: 1.8;
}
a, a:hover{
  text-decoration: none !important;
}
ul, li{
  list-style: none;
}
li img{
  width: 17px;
}
.bgColor{
  background: #ffecec;
}
.navbar img{
  width: 70px;
}
.navbar li{
  padding: 0 15px;
}
.navbar a, .bgFooter a, .menu a{
  color: #4e5c6b;
}
.navbar a:hover, .bgFooter a:hover, .menu a:hover{
  color: #0056b3;
}
.btnTel a img {
  width: 25px;
  margin: -10px 5px 0 0;
}
.btnTel a {
  font-size: 18px;
  color: #ff580e;
  border: 2px solid #d60637;
  padding: 3px 10px;
  margin: 0 5px 0 0;
  border-radius: 30px;
}
.btnTel a:hover {
  color: #ff580e
}
.btnTel p {
  font-size: 12px;
  padding: 0;
  margin: 0 0 -5px 10px;
  color: #ff580e
}
h1{
  margin: 6% 0 0 0;
}
h1 p{
  font-weight: bold;
  font-size: 65px;
}
.subTit {
  font-size: 34px;
}
.subTit span{
  display: block;
  font-size: 41px;
  margin: -15px 0 0 0;
  font-weight: bold;
}
.banner{
  text-align: center;
}

.promo p {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  line-height: 1.4;
}
.banner img{
  width: 450px;
}
.imgBanner{
  text-align: center;
}
.imgBanner img{
  width: 450px;
  margin: 8% 0 31%;
}
.banner a{
  background:#ff2f5f;
  color: #fff;
  border-radius: 50px;
  font-size: 25px;
  margin: 0;
  padding: 5px 15px 8px 15px;
  margin: 8% 0 0 0;
}
.banner a:hover{
  background:#e91446;
  color: #fff;
}
.banner a img{
  width: 20px;
}
.form {
  padding: 4px 5px;    
}
.form input {
  height: 55px;
  border-radius: 30px;
  border: none;
  padding: 0 0 0 20px;
  font-size: 18px;
  background: #fff;
  color: #111;
}
.form select {
  height: 55px;
  border-radius: 30px;
  border: none;
  padding: 0 20px;
  font-size: 18px;
  /* background: #fff; */
  color: #777;
}
.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 2.5px #60dab8;
}
.form select.is-invalid,
.form input.is-invalid,
.invalid {
  box-shadow: 0 0 0 2px #ff0000;
}
.txtForm{
  text-align: center;
  font-size: 16px;
  margin: 0;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #ffecec;
  border: 1px solid #ffecec;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url(../img/icon/cheked.svg);
  width: 32px;
  height: 32px;
  margin: -8px 0 0 -8px;
} 
.checkBox {
  margin: 5px auto;
}
.checkBox label,
.checkBox b {
  color: #4e5c6b;
  font-size: 15px;
}
.btnform{
  padding: 0 5px;
}
.btnform button {
  background: linear-gradient(to right, #ff2f5f 40%, #ff580e 100%);
  color: #fff;
  border-radius: 30px;
  width: 100%;
  font-size: 30px;
  padding: 6px 0;
  margin: 0 0 15px 0;
}
.btnform button:hover {
  /* background: #d60637; */
  color: #fff;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 2% 0;
  padding: 0 10px;
}
.icon p{
  margin: 0;
  font-size: 18px;
}
.icon span{
  display: block;
  font-size: 14px;
}
.icon img {
  width: 70px;
}
.cont{
  margin: 50px 0 0 0;
}
h2, h3, h4, h5{
  font-weight: bold;
  font-size: 32px;
}
h5{
  font-weight: bold;
  /* color: #ff580e; */
  margin-top: 4%;
}
.imgPhone{
  width: 350px;
}
.circulo{
  background: #ffecf2;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  float: left;
  margin: 0 0 80px 0;
}
.circulo span{
  margin: 0 auto;
  color: #f91062;
  font-size: 30px;
  font-weight: bold;
}
.txtCirculo p{
  margin: 5px 0 0 1%;  
}
.lineaVertical{
  background: linear-gradient(to right, rgba(255,104,17,1) 0%, rgba(255,9,88,1) 100%);
  height: 80%;
  width: 2px;
  left: 60px;
  position: absolute;
  opacity: 0.4;
}
.carPista{
  width: 450px;
}
.txtTer, .txtCuar, .txtQuin, .txtSext, .txtSept, .txtOct{
  padding-top: 5%;
}
.txtSec {
  margin-top: 2%;
}
.city{
  background-repeat: no-repeat;
  background-image: url(../img/icon/city.svg);
  background-size: cover;
  background-position: center;
  padding: 25% 0 0 0;
  margin: 0 0 -8% -2px;
  /* position: absolute;
  bottom: 0; */
}
.logo{
  margin: 0;
  filter: grayscale(1);
}
.bgFoter{
  background: #f2f2f2;
  font-size: 1rem;
  padding-top: 15px;
  /* position: absolute;
  bottom: 0; */
}
.bgFooter span{
  font-size: 22px;
  font-weight: bold;
}
.bgFooter span{
  font-size: 22px;
  font-weight: bold;
}
.bgFooter p{
  font-size: 18px;
  margin: 0;
  line-height: 1.5;
}
.lineaDegrad{
  background: linear-gradient(to right, rgba(255,104,17,1) 0%, rgba(255,9,88,1) 100%);
  width: 150px;
  height: 2px;
  margin: 0 auto 15px;
}
.botonTop{
  background: linear-gradient(to right, rgba(255,104,17,1) 0%, rgba(255,9,88,1) 100%);
}
/* .botonTop:hover{
  background: linear-gradient(to right, rgba(255,9,88,1) 0%,rgba(255,104,17,1) 100%);
  transition: 0.9s ease-in-out;
} */
.menu p{
  margin: 3px 0;
}
.menuHead span{
  color: #fff;
  display: block;
  background: #ff005f;
  text-align: center;
  padding: 2px 0;
  font-size: 24px;
}
.modal-content{
  background: #f1f1f1;
}
.btnMenu{
  width: 50px !important;
}
.modal.right .modal-dialog {
	position: fixed;
	margin: auto;
	width: 60%;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.modal.right .modal-content {
	height: 100%;
}
.modal.right.fade .modal-dialog {
	right: -320px;
	-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
	-o-transition: opacity 0.3s linear, right 0.3s ease-out;
	transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.show .modal-dialog {
	right: 0;
}
.modal-content {
	border-radius: 0;
	border: none;
}
.tgra{
  font-size: 20px!important;
}
.thanks{
  text-align: center;
}
.thanks p{
  /*color: #ff005f;*/
  font-weight: bold;
  font-size: 32px;
}
.thanks span.gracias{
  font-size: 20px;
}
.thanks .precio{
  color: #4e5c6b;
  font-size: 24px;
  margin: 30px 0 0;
}

.thanks .borde{
  background: #fff;
  width: 300px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 30px;
}
.thanksspan{
  font-size: 25px;
  background:  linear-gradient(90deg, rgba(255,96,7,1) 34%, rgba(255,6,88,1) 52%);
  border-radius: 15px;
  color: #fff;
  padding: 12px 20px;
}
.thanks .precio{
  color: #4e5c6b;
  font-size: 24px;
  margin: 30px 0 0;
}
/* .back{
  width: 320px;
  position: absolute;
  left: 30%;
} */
.thanks .borde{
  background: #fff;
  width: 300px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 30px;
}
.did{
  background: linear-gradient(90deg, rgba(255,96,7,1) 40%, rgba(255,6,88,1) 58%);
  width: 260px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 30px;
  color: #fff !important;
  font-size: 25px;
  padding: 2px 5px;
}
.did img {
position: absolute;
margin: 0 0 0 15px;
}
.rag{
  color: #fff;
  display: block;
  font-size: 15px !important;
  padding: 0 !important;
  margin: 0 0 -10px 0;
}
.borde p{
 color: #4e5c6b;
 font-size: 45px;
 margin: -10px 0;
 padding: 0;
}
.txtEjecutivos{
  margin: 1% 0 0 0;
  text-align: center;
}
.txtEjecutivos p{
  font-size: 22px;
  font-weight: 400!important;
}
.txtEjecutivos a{
  color: #ff005f;
}
.caractsg{
  background: linear-gradient(to right, rgba(255,104,17,1) 0%, rgba(255,9,88,1) 100%);
  color: #fff;
  border-radius: 10px;
  font-size: 40px;
}
.tabgra {
  text-align: center;
  background: linear-gradient(to right, rgba(255, 104, 17, 1) 0%, rgba(255, 9, 88, 1) 100%) !important;
  color: #fff !important;
  font-size: 30px;
  width: 47%;
  margin: 2% auto 2%;
  border-radius: 30px;
}
.tabla p{
  text-align: center;
  background: #f2f2f2;
  color: #ff005f;
  font-size: 30px;

}
.bgColorThanks{
  background: #ffe1d6;
  padding-bottom: 2%;
}
.tabla thead th{
  color: #3d444d;
  padding: 3px 8px !important;
  background: #fff;
  border-bottom: 2px solid #999 !important;
}
.table-responsive{
  border-radius: 20px;
}
thead th{
  color: #fff;
  padding: 3px 8px !important;
  border: 0 !important;
  background: #ff2f5f;
}
tbody td{
  padding: 2px 8px !important;
  border: 0 !important;
  color: #3d444d;
}
tbody td img{
  width: 17px;
  margin: auto;
  display: block;
}
.msjEjecutivo{
  padding-top: 4%;
  padding-bottom: 4%;
}
.sk-fading-circle .sk-circle:before {
  background-color: #ff005f;
}
.btn-success {
  border-bottom: 5px solid #1e7e34;
  height: 62px;
}

.priv{
  font-size: 1rem;
}
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #ffb200;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left:-10px;background:#ff442b;color:#fff;border-radius:10px;padding:0px 12px;}
.descuentosPromo{background:#ffb200;color:#fff;text-align:center;font-weight:bold;font-size:1.3rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:1.4rem;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}

@media (min-width: 1025px) and (max-width: 1199px) {
  .img-lluvia {
    left: 5%;
  }
  .imgPhone{
    width: 270px;
  }
  .carPista{
    width: 400px;
  }
  .back{
    left: 0;
  }
  .borde p{
    font-size: 45px;
    margin: -10px 0;
    padding: 0;
   }
   .txtEjecutivos p {
    font-size: 19px;
  }
  .priv{
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .img-lluvia {
    left: 8px;
    top: 3px;
  }
  .cencirculo {margin: 80px 0px;}
  .loferta{
    width: auto;
    height: 40px;
  }
  .t-enmedio {
    font-size: 2rem;
  }
  .t-enmedio2 {
    font-size: 2rem;
  }
  .numdesc {
    font-size: 3.4rem;
  }
  .pordesc {
    font-size: 2rem!important;
  }
  .subnuevo {
    font-size: 22px;
  }
  .tvisita {
    font-size: 33px;
  }
  .flechagris {
    width: 20px;
    height: auto;
  }

  .tumejor {
    font-size: 22px;
  }
  
  .tpromoc {font-size: 28px;margin-top: 22px;}

  .descuentosPromo{padding: 0.5rem 0.2rem; font-size: .9rem;}
  .msiPromo {font-size: 1.2rem;}

  .imgPhone{
    width: 250px;
  }
  .carPista{
    width: 350px;
  }
  h1{
    font-size: 37px;
  }
  h1 p{
    font-size: 61px;
  }
  .banner img{
    width: 350px;
  }
  .logo{
    width: 140px;
  }
  .city{
    padding: 80% 0 0 0;
    margin: 0 0 -30% -2px;
  }
  .back {
    width: 250px;
    left: 0;
    top: 50px;
  }
  .thanks p{
    font-size: 30px;
    line-height: 1.5;
  }
  .borde p{
    font-size: 45px;
    margin: -10px 0;
    padding: 0;
    line-height: 1.8;
   }

  .txtEjecutivos p {
    font-size: 18px;
  }
  .tam{
    font-size: .8rem;
  }
  
  .priv{
    font-size: .9rem;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .img-lluvia {
    left: 20%;
   }
   .logop{
    width: 150px;
    height: auto;
  }
  .fichamulti {
    box-shadow: none;
}
  .flechagris{
    width: 20px;
    height: auto;
  }
  .bCotiza {
    padding: 0.5rem .3rem;
  }
  .iconuev{
    font-size: 14px;
    line-height: 1;
  }
  .textmap {
    position: relative;
  }
  .manos {
    margin-top: 0px;
    width: 90%;
    height: auto;
  }
  li .puntos {
    width: 55px!important;
    height: 55px!important;
    margin: 10px 0px;
  }
  div.prueba {
    left: 8%;
  }
  .tvisita {
    text-align: center;
    font-size: 24px;
  }
  .visit{
    width: 250px;
    height: auto;
  }
  .subtext2 {
    font-size: 35px;
  }
  .titprincipal {
    font-size: 40px;
  }
  .t-enmedio {
    font-size: 1.2rem;
  }
  .t-enmedio2 {
    font-size: 1.2rem;
  }
  .numdesc {
    font-size: 2.5rem;
  }
  .pordesc {
    font-size: 1.8rem!important;
  }
  .subnuevo {
    font-size: 20px;
  }
  
  .tumejor{
    font-size: 24px;
  }

  h1, h1 p {
    font-size: 26px!important;
  }
  .tpromoc {font-size: 22px !important; margin-top: 16px; }
  .b-zoom1, .b-zoom2, .b-zoom3 {width: 200px;height: 200px;}
  .botonesimg {margin-top: 0rem;}
  .descuentosPromo{padding: 0.5rem 0.2rem; font-size: 1rem;}
  .msiPromo {font-size: 1.2rem;}
  h1, h1 p{font-size: 2rem;}


  thead th, tbody td{
    font-size: 16px;
  }
  .lineaVertical{
    height: 67%;
  }
  .logo{
    width: 140px;
  }
  .city{
    padding: 80% 0 0 0;
    margin: 0 0 -30% -2px;
  }
  .imgPhone{
    width: 270px;
  }
  .carPista{
    width: 400px;
  }
  .icon img {
    width: 90px;
  }
  .txtCirculo p{
    margin: 5px 0 0 -7%;  
  }
  .thanks p{
    font-size: 30px;
    line-height: 1.5;
  }
  .borde p{
    font-size: 40px;
    margin: -10px 0;
    padding: 0;
    line-height: 1.8;
   }
   .txtEjecutivos p {
     margin: 30px 0;
    font-size: 22px;
    line-height: 1.5;
  }
  .tabla p {
    width: 100%;
  }
  .icon p {
    font-size: 15px;
  }
  .tam{
    font-size: .6rem;
  }  
  .priv{
    font-size: .8rem;
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  .img-lluvia {
    height: 57px;
    left: 17%;
  }
  .logop{
    width: 150px;
    height: auto;
  }
  .fichamulti {
    box-shadow: none;
}
.txtEjecutivos p {
  margin: 30px 0;
  font-size: 21px;
  line-height: 1.5;
}
  .flechagris{
    width: 20px;
    height: auto;
  }
  .bCotiza {
    padding: 0.5rem .3rem;
  }
  .iconuev{
    font-size: 14px;
    line-height: 1;
  }
  .textmap {
    position: relative;
  }
  .manos {
    margin-top: 0px;
    width: 90%;
    height: auto;
  }
  li .puntos {
    width: 55px!important;
    height: 55px!important;
    margin: 10px 0px;
  }
  div.prueba {
    left: 8%;
  }
  .tvisita{
    text-align: center;
    font-size: 35px;
  }
  .visit{
    width: 250px;
    height: auto;
  }
  .subtext2 {
    font-size: 35px;
  }
  .t-enmedio {
    font-size: 1.2rem;
  }
  .t-enmedio2 {
    font-size: 1.2rem;
  }
  .numdesc {
    font-size: 2.5rem;
  }
  .pordesc {
    font-size: 1.8rem!important;
  }
  .subnuevo {
    font-size: 15px;
  }

  .tumejor{
    font-size: 22px;
  }

  .tpromoc {font-size: 19px !important; margin-top: 16px; }
  .t-map {font-size: 22px;}
  .circulop {width: 350px;height: 350px;}
  .cencirculo {margin: -12px 0px;}
  .imgcirc{width: 50px; height: 50px;}
  .b-zoom1, .b-zoom2, .b-zoom3 {width: 200px;height: 200px;}
  .botonesimg {margin-top: 2rem;}

  .descuentosPromo{padding: 0.7rem 0.2rem; font-size: 1rem;}
  .msiPromo {font-size: 1.2rem;}
  h1, h1 p{font-size: 1.2rem;}

  h2, h3, h4, h5{
    font-size: 28px;
  }
  .icon p {
    font-size: 14px;
  }
  thead th, tbody td{
    font-size: 16px;
  }
  .lineaVertical{
    height: 57%;
  }
  .logo{
    width: 140px;
  }
  .city{
    padding: 80% 0 0 0;
    margin: 0 0 -30% -2px;
  }
  .imgPhone{
    width: 270px;
  }
  .carPista{
    width: 350px;
  }
  .icon img {
    width: 90px;
  }
  .txtCirculo p{
    margin: 5px 0 0 -10%;  
  }
  .thanks p{
    font-size: 26px;
    line-height: 1.5;
  }
  .borde p{
    font-size: 40px;
    margin: -10px 0;
    padding: 3px 0;
    line-height: 1.8;
   }
   .thanks span {
    padding: 2px 5px;
    padding: 8px 5px;
  }
   .txtEjecutivos p {
     margin: 30px 0;
    font-size: 21px;
    line-height: 1.5;
  }
  .tabla p {
    font-size: 28px;
    width: 100%;
  }
  .tam{
    font-size: .6rem;
  }
  .priv{
    font-size: .8rem;
  }
  
}
@media (min-width: 321px) and (max-width: 375px) {
  .img-lluvia {
    height: 57px;
    left: 13%;
  }
  .logop{
    width: 150px;
    height: auto;
  }
  .fichamulti {
    box-shadow: none;
}
.txtEjecutivos p {
  margin: 30px 0;
  font-size: 18px;
  line-height: 1.5;
}
.txtEjecutivos {
  margin: 1% 0 0;
  text-align: center;
}
.thanks span.gracias {
  font-size: 16px;
  display: block;
  padding: 2px 5px;
  line-height: 1.5;
}
  .flechagris{
    width: 20px;
    height: auto;
  }
  .bCotiza {
    padding: 0.5rem .3rem;
  }
  .iconuev{
    font-size: 14px;
    line-height: 1;
  }
  .textmap {
    position: relative;
  }
  .manos {
    margin-top: 0px;
    width: 90%;
    height: auto;
  }
  li .puntos {
    width: 55px!important;
    height: 55px!important;
    margin: 10px 0px;
  }
  div.prueba {
    left: 8%;
  }
  .tvisita{
    text-align: center;
    font-size: 30px;
  }
  .visit{
    width: 225px;
    height: auto;
  }
  .subtext2 {
    font-size: 35px;
  }
  .t-enmedio {
    font-size: 1.2rem;
  }
  .t-enmedio2 {
    font-size: 1.2rem;
  }
  .numdesc {
    font-size: 2.5rem;
  }
  .pordesc {
    font-size: 1.8rem!important;
  }
  .subnuevo {
    font-size: 14px;
  }
  .tumejor{
    font-size: 18px;
  }

  .tpromoc {font-size: 15px !important; margin-top: 14px; }
  .t-map {font-size: 22px;}
  .circulop {width: 320px;height: 320px;}
  .cencirculo {margin: -12px 0px;}
  .imgcirc{width: 50px; height: 50px;}
  .b-zoom1, .b-zoom2, .b-zoom3 {width: 200px;height: 200px;}
  .botonesimg {margin-top: 0rem;}

  .descuentosPromo{padding: 0.7rem 0.1rem; font-size: .9rem;}
  .msiPromo {font-size: 1.2rem;}
  .labelendPromo{font-size: .7rem;}
  h1, h1 p{font-size: 1rem;}


  h2, h3, h4, h5{
    font-size: 28px;
  }
  thead th, tbody td{
    font-size: 16px;
  }
  .lineaVertical{
    height: 56%;
  }
  .logo{
    width: 90px;
  }
  .city{
    padding: 120% 0 0 0;
    margin: 0 0 -45% -2px;
  }
  .imgPhone{
    width: 240px;
  }
  .carPista{
    width: 270px;
  }
  .icon img {
    width: 80px;
  }
  .icon p {
    font-size: 14px;
  }
  .thanks p{
    font-size: 22px;
    line-height: 1.5;
  }
  .borde p{
    font-size: 40px;
    margin: -10px 0;
    padding: 3px 0;
    line-height: 1.8;
   }
   .thanks span {
    padding: 2px 5px;
    line-height: 1.5;
  }
   .txtEjecutivos p {
     margin: 30px 0;
    font-size: 18px;
    line-height: 1.5;
  }
  .tabla p {
    font-size: 28px;
    width: 100%;
  }
  .thanks .borde{
    width: 250px;
  }
  .tam{
    font-size: .6rem;
  }
  .priv{
    font-size: .8rem;
  }
}
@media (min-width: 280px) and (max-width: 320px) {
  .img-lluvia {
    height: 47px;
  }
  .logop{
    width: 150px;
    height: auto;
  }
  .fichamulti {
    box-shadow: none;
}
.thanks span.gracias {
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 12px 20px;
}
.txtEjecutivos p {
  margin: 30px 0;
  font-size: 17px;
  line-height: 1.5;
}

.tumejor {
  font-size: 18px;
}
  .flechagris{
    width: 20px;
    height: auto;
  }
  .bCotiza {
    padding: 0.8rem .2rem;
    font-size: 1rem;
  }
  .iconuev{
    font-size: 14px;
    line-height: 1;
  }
  .textmap {
    position: relative;
  }
  .manos {
    margin-top: 0px;
    width: 80%;
    height: auto;
  }
  li .puntos {
    width: 55px!important;
    height: 55px!important;
    margin: 10px 0px;
  }
  div.prueba {
    left: 8%;
  }
  .tvisita{
    text-align: center;
    font-size: 25px;
  }
  .visit{
    width: 200px;
    height: auto;
  }
  .subtext2 {
    font-size: 30px;
  }
  .t-enmedio {
    font-size: 1rem;
  }
  .t-enmedio2 {
    font-size: 1rem;
  }
  .numdesc {
    font-size: 1.8rem;
  }
  .pordesc {
    font-size: 1.2rem!important;
  }
  .subnuevo {
    font-size: 11px;
  }

  .descuentosPromo{padding: 0.8rem 0rem; font-size: .75rem;}
  .msiPromo {font-size: 1rem;}
  .labelendPromo{font-size: .6rem;}
  h1, h1 p{font-size: .8rem;}

  h2, h3, h4, h5{
    font-size: 24px;
  }
  thead th, tbody td{
    font-size: 16px;
  }
  .lineaVertical{
    height: 56%;
  }
  .logo{
    width: 140px;
  }
  .city{
    padding: 120% 0 0 0;
    margin: 0 0 -45% -2px;
  }
  .imgPhone{
    width: 200px;
  }
  .carPista{
    width: 270px;
  }
  .icon img {
    width: 80px;
  }
  .icon p {
    font-size: 14px;
  }
  .checkBox label, .checkBox b {
    color: 
    #4e5c6b;
    font-size: 13px;
  }
  .thanks p{
    font-size: 21px;
    line-height: 1.5;
  }
  .borde p{
    font-size: 40px;
    margin: -10px 0;
    padding: 3px 0;
    line-height: 1.8;
   }
   .thanks span {
    padding: 2px 5px;
    line-height: 1.5;
  }
   .txtEjecutivos p {
     margin: 30px 0;
    font-size: 17px;
    line-height: 1.5;
  }
  .tabla p {
    font-size: 28px;
    width: 100%;
  }
  .thanks .borde{
    width: 250px;
  }
  .tam{
    font-size: .6rem;
  }
  .priv{
    font-size: .7rem;
  }
}