<template>
  <div>
    <!--<div>
      <a id="btnTop" class="botonTopw" href="https://wa.me/5527225841">
        <img src="img/primero/whats.png" alt="whatsapp" width="40" height="40"/>
      </a>
    </div>-->
    <div v-show="!this.showBottonAutoBack == 1">
      <a id="btnTop" class="botonTop" :href="this.$store.state.config.interior">
        <img src="/img/icon/chevron.png" alt="Top" width="19" height="19"/>
        <span> Ir Arriba</span>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      showBottonAutoBack: 1
    };
  },
  mounted: function() {
    window.addEventListener("scroll", () => {
      var scrollPos = window.scrollY;
      var winHeight = window.innerHeight;
      var docHeight = document.documentElement.scrollHeight;
      var perc = (100 * scrollPos) / (docHeight - winHeight);
      if (perc > 20) {
        this.showBottonAutoBack = 0;
       this.$store.state.config.interior= window.location.href;
        let cadena =   this.$store.state.config.interior;
      let primero = cadena.search("#Top")
      let separado;
      let cad2 = "";
      // se le quita el ultimo
    
        if (primero) {
          separado = cadena.substring(primero + 0, cadena.length).split("#Top")
          separado.forEach(element => {
            cad2 += element.replaceAll("#Top", "")
          });
        }
        cadena = cadena.substring(0, primero + 0) + cad2
        cadena = cadena.split(' ').join(' ').trim();
      
        this.$store.state.config.interior = cadena;
       this.$store.state.config.interior += '#Top';
        

      } else {
        this.showBottonAutoBack = 1;
      }
    });
  }
};
</script>
<style>
.botonTopw {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.botonTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  text-decoration: none;
  padding: 13px 25px;
  border-radius: 25px;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.botonTop img {
  width: 19px;
  transform: rotate(-90deg);
}
.botonTop span {
  color: #ffffff;
  font-size: 16px;
}
</style>