<template>
    <div class="row mx-0"> 
        <div class="col-12  my-5 text-center">
            <h2>Nuestros Seguros Exclusivos Migo</h2>
            <p>Coberturas y servicios especiales para tu vehículo</p>
        </div>                  
        <div class="col-12 col-md-4 px-md-4 my-3 my-md-0 text-center ">
            <section class="bcardg py-2 py-md-3">
                <img src="/img/nuevas/icono1.webp" width="100" height="105" class="img-fluid" alt="llave">
                <p class="mb-0">MIGO Llaves</p>
            </section>
        </div>
        <div class="col-12 col-md-4 px-md-4 my-3 my-md-0 text-center">
            <section class="bcardg py-2  py-md-3">            
                <img src="/img/nuevas/icono2.webp" width="100" height="105" class="img-fluid" alt="llave">
                <p class="mb-0">MIGO Llantas</p>
            </section>
        </div>
        <div class="col-12 col-md-4 px-md-4 my-3 my-md-0 text-center">
            <section class="bcardg py-2  py-md-3 my-auto">
                <img src="img/nuevas/gris.webp" width="160" height="105" class="img-fluid" alt="llave">
                <p class="mb-0 mt-md-4">Movilidad con MIGO</p>
            </section>
        </div>
    </div>
</template>