<template>
  <div class="container-fluid foot">
    

    <div class="row colfoo py-2">
      <div class="col-2 text-end">
          <img :src="$store.state.config.imgen+'/img/nuevas/logo.svg'" loading="lazy" alt="Logo" class="img-fluid" width="100"  height="60"/>
        </div>
        <div class="col-8">
         <p class="m-0 tam"><b>© 2022 MIGO seguros.</b>Todos los derechos reservados. El uso de este sitio implica que aceptas nuestros Términos y 
          condiciones, así como el Aviso de privacidad.</p> 
        </div>
     
    </div>
    
  </div>
</template>
<script>
  import aviso from "~/components/utilities/modal.vue";

  export default {
    components: {
      aviso,
    },
    created: function(){
    }
  }

</script>