<template>
  <div>
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-12 col-md-6 text-center px-md-3 px-lg-5">
          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/logo.svg'"
            width="200"
            height="200"
            class="img-fluid logop"
            alt="cotizar seguro de auto"
          />
          <img
            v-if="this.$store.state.config.promoSpecial"
            :src="this.$store.state.config.promoImg"
            width="81"
            height="81"
            alt="cotizar seguro de auto"
            class="img-lluvia"
          />

          <h1
            class="mb-0 tumejor text-center text-md-start mt-3 ms-lg-4 mejorop"
          >
            Seguros para Repartidores en Moto
          </h1>
          <ul class="text-start my-md-3 d-none d-md-block">
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check-rosa.svg'"
                alt="cotizar seguro de moto"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Paquete Amplia
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check-rosa.svg'"
                alt="cotizar seguro de moto"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Coberturas adicionales disponibles
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check-rosa.svg'"
                alt="cotizar seguro de moto"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Meses sin Intereses {{ this.$store.state.config.msiAuto }}
            </li>
          </ul>

          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/moto-01.webp'"
            width="440"
            height="323"
            class="img-fluid d-none d-md-block"
            alt="cotizar seguro de moto"
          />
        </div>
        <div class="col-12 col-md-6 pe-md-3 pe-lg-5 text-center">
          <section class="fichamulti py-md-2">
            <h1 class="text-center">¡Descuentos Exclusivos!</h1>
            <p class="mb-0 subnuevo text-center">
              ¡ {{ this.$store.state.config.promoLabel }}
              {{ this.$store.state.config.desc }}!
            </p>
            <formulario :config="this.$store.state.config" />
          </section>
          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/frase.svg'"
            width="500"
            height="250"
            class="img-fluid d-none d-md-block py-4"
            alt="camionprincipal"
          />
        </div>
      </div>
    </div>
    <!-- CONTENIDO -->
    <div class="container-fluid">
      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-5">
            ¡Contrata hoy mismo el Mejor Seguro para Repartidores en Moto!
          </h2>
          <div class="col-12 col-md-6 col-lg-6 m-auto">
            <p>
              Adquiere con Migo Seguros tu póliza de seguro para repartidores en
              moto, obtén a través de sus coberturas, la mayor protección ante
              los riesgos a los que eres más vulnerable al momento de manejar.
            </p>
            <p>
              Utilizar una moto para hacer un trabajo de repartidor tiene muchas
              ventajas, entre ellas el rendimiento del combustible, rapidez y
              precios accesibles al momento de adquirir una. Sin embargo su uso
              también expone a los conductores ante situaciones como choques o
              robos.
            </p>
            <p>
              Con el seguro para repartidor de Migo contarás con todos las
              protecciones y beneficios necesarios para enfrentar cualquier
              situación que ponga en riesgo tu moto o tu integridad.
            </p>
          </div>
          <div class="col-12 col-md-6 col-lg-6 m-auto">
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/09.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Repartidor MIGO"
            />
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="pb-4 text-center">
            Con el Seguro de Moto para Repartidor de Migo ¡Trabaja en todas las
            apps!
          </h2>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2"
          >
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/010.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Repartidor MIGO App"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1 order-lg-1">
            <p>
              Al contratar tu seguro de moto para reparto podrás trabajar en las
              más importantes aplicaciones en México de entrega de comida o
              consumibles, como:
            </p>
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Uber Eats
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Didi Food
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Rappi
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Cornershop
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Jokr
              </li>
            </ul>
            <p>
              Este seguro funciona para cualquier app o trabajo donde sea
              necesario usar tu motocicleta como herramienta de transporte.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="pb-4 text-center">
            ¿Cuáles son las Coberturas del Seguro de Moto para Reparto?
          </h2>
          <p>
            Al cotizar tu seguro para moto, podrás elegir agregar coberturas
            adicionales que te permitirán crear una póliza que se adapte a
            ciertas necesidades específicas, creando así un seguro integral y
            100% personalizado.
          </p>
          <p>¡Conoce cómo funcionan cada una de estas coberturas!</p>
          <ul>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              <b>Responsabilidad Civil Daños a Terceros</b>: Garantiza la
              indemnización de daños materiales a bienes públicos o privados así
              como lesiones corporales a terceros.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              <b>Daños Materiales</b>: Ante daños materiales a tu motocicleta
              podrás obtener por parte de Migo el respaldo para la reparación
              del mismo
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              <b>Gastos Médicos</b>: Respaldo ante estos gastos por concepto de
              hospitalización,medicinas, estudios, honorarios médicos,
              enfermeras(os), etc.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              <b>Robo o pérdida total</b>: Recibe una indemnización en caso de
              robo total de tu motocicleta con base al valor convenido o
              comercial de tu vehículo.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              <b>Asistencia vial</b>: Solicita servicio de técnico en caso de
              avería de tu moto por falla mecánica, donde contarás con
              beneficios como envío de grúa, gasolina, etc.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              <b>Asistencia Legal</b>: Obtén asistencia jurídica por parte de
              abogados en caso de que te veas involucrado en un proceso legal.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="pb-4 text-center">
            Beneficios de contratar un Seguro para Repartidores en Moto en
            México
          </h2>
          <ul class="px-5">
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Cumplirás con la contratación del seguro obligatorio que marca la
              ley
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Tu moto estará asegurada no sólo para su uso comercial sino
              también para el personal
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              El seguro de moto para repartidor de Migo funciona para cualquier
              aplicación o trabajo que requiera el uso de este vehículo para
              transportarse
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Reporta siniestros las 24 horas del día. Migo estará presente en
              los momentos más difíciles sin importar el día o la hora
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Recibirás atención médica inmediata en caso de que te lesiones
              durante el uso de tu motocicleta
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Protege tu moto ante robo, donde podrás recuperar una parte de la
              inversión del valor de tu vehículo
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-2 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            ¿Ante qué peligros me protege mi seguro?
          </h2>
          <p>
            Obtén protección total ante cualquiera de los siguientes siniestros
            con tu seguro de moto para repartidor:
          </p>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 order-lg-2">
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/011.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Repartidor MIGO App"
            />
          </div>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1"
          >
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Choques
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Gastos médicos por caídas o choques
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Robo total
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Daños materiales por inundación,desastres naturales, lluvias,
                colisiones, etc
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Fallas mecánicas
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Daños a Terceros
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            ¿Cómo cotizar mi Seguro para Repartidores en Moto?
          </h2>
          <p>
            A través del cotizador de seguro para repartidores en motocicleta de
            Migo, podrás comparar y contratar la mejor opción de protección en
            el país. Recibe hoy mismo tu seguro y comienza a trabajar en la app
            de reparto de tu interés mientras cuidas de ti y de tu motocicleta.
          </p>
          <ul class="px-5">
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Ingresa la marca, modelo, año y versión de tu moto, nombre del
              asegurado, edad y domicilio.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Comparte tus datos de contacto como correo electrónico y número de
              celular.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Una vez ingresados tus datos , Migo te compartirá información
              valiosa del seguro para motos como precio, coberturas, beneficios,
              etc.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Durante el proceso podrás tener la asesoría de ejecutivos
              altamente calificados que te brindarán una asesoría con base a tus
              necesidades
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Una vez despejadas tus dudas, podrás contratar tu seguro de manera
              inmediata
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Recibe tu póliza de seguro para repartidores en moto forma
              inmediata en tu correo electrónico
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              ¡Comienza a generar ingresos, mientras cuidas de tu herramienta de
              trabajo y de ti mismo!
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-2 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            ¿Por qué Utilizar el Cotizador de Migo Seguros?
          </h2>
          <p class="pb-3">
            Cotizar tu seguro para repartidores en moto a través de Migo es una
            garantía de que obtendrán protección total y beneficios exclusivos
            tales como:
          </p>
          <div class="col-12 col-md-6 col-lg-6 m-auto">
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Cotiza, compara y contrata en un solo lugar
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Obtén descuentos y promociones únicas la momento de cotizar
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Realizar tu cotización de forma gratuita
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Ahorra tiempo y dinero al momento de contratar tu seguro
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Recibe tu póliza el mismo día que lo contratas
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Ejecutivos disponibles para poder atender cualquier duda que
                surja
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/012.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            Requisitos al contratar tu Seguro para Repartidores
          </h2>
          <p>
            Optimizamos todo el proceso de contratación de tu seguro solicitando
            solamente documentación básica:
          </p>
          <div class="col-12 col-md-6 col-lg-6 pb-3">
            <div
              class="card"
              style="
                height: 100%;
                box-shadow: rgb(100 100 111 / 20%) 0px 2px 7px 0px;
                border: 0 !important;
              "
            >
              <div class="card-header encabezadoC text-center">
                <p class="m-0"><strong>Datos Personales:</strong></p>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Ser mayor de edad.
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Nombre completo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Identificación oficial como INE o Pasaporte.
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Licencia de conducir vigente
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Tarjeta de circulación
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Comprobante de domicilio no mayor a 3 meses
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Teléfono de contacto, de preferencia proporciona un teléfono
                    de celular.
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    RFC
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Correo electrónico
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 pb-3">
            <div
              class="card"
              style="
                height: 100%;
                box-shadow: rgb(100 100 111 / 20%) 0px 2px 7px 0px;
                border: 0 !important;
              "
            >
              <div class="card-header encabezadoC2 text-center">
                <p class="m-0"><strong>Datos del vehículo:</strong></p>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Marca del automóvil
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Submarca del automóvil
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Modelo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Año de fabricación
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Número de serie del vehículo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Número de motor del vehículo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Color de la carrocería
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Descripción general del automóvil
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Placas
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            ¿Cuánto cuesta el Seguro de Moto para Repartidor?
          </h2>
          <p>
            El costo de un seguro es totalmente personalizado, este dependerá de
            diferentes factores, como lo son:
          </p>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2"
          >
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Modelo, año, marca de la moto
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Edad, género y domicilio del asegurado
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Cobertura contratada
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Coberturas adicionales
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Sumas aseguradas y deducibles
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1 order-lg-1">
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/05.png'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
          <div
            class="table-responsive pt-5 order-3 order-md-3 order-lg-3"
            align="center"
          >
            <table
              class="table text-center sombra"
              style="width: 75% !important"
            >
              <thead class="encabezadoT">
                <tr>
                  <th class="tableBorderI" scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th class="tableBorderF" scope="col">
                    Precio Cobertura Amplia (Anual)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Italika</td>
                  <td>Ws</td>
                  <td>$4,238.00</td>
                </tr>
                <tr class="tablaC">
                  <td>Bajaj</td>
                  <td>Pulsar</td>
                  <td>$4,623.00</td>
                </tr>
                <tr>
                  <td>Vento</td>
                  <td>Nitrox</td>
                  <td>$4,471.00</td>
                </tr>
                <tr class="tablaC">
                  <td class="tableBorderI2">KMT</td>
                  <td>Duke</td>
                  <td class="tableBorderF2">$7,052.00</td>
                </tr>
              </tbody>
            </table>
            <p style="text-align: justify" class="pt-4">
              A través de Migo podrás contratar tu seguro para moto a meses sin
              intereses, además de obtener precios y promociones exclusivas al
              cotizar.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            Sumas Aseguradas y Deducibles del Seguro para Repartidores en Moto
          </h2>

          <div class="table-responsive pt-4" align="center">
            <table
              class="table text-center sombra"
              style="width: 75% !important"
            >
              <thead class="encabezadoT">
                <tr>
                  <th class="tableBorderI" scope="col">Cobertura</th>
                  <th scope="col">Suma Asegurada</th>
                  <th class="tableBorderF" scope="col">Deducible</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Daños Materiales</td>
                  <td>Valor Comercial/ Valor Convenido</td>
                  <td>10%</td>
                </tr>
                <tr class="tablaC">
                  <td>Robo Total</td>
                  <td>Valor Comercial/ Valor Convenido</td>
                  <td>20%</td>
                </tr>
                <tr>
                  <td>Responsabilidad Civil</td>
                  <td>3 millones</td>
                  <td>25 UMA</td>
                </tr>
                <tr class="tablaC">
                  <td>Gastos Médicos Ocupantes</td>
                  <td>50 mil</td>
                  <td>No aplica</td>
                </tr>
                <tr>
                  <td>Defensa Legal</td>
                  <td>Amparada</td>
                  <td>No aplica</td>
                </tr>
                <tr class="tablaC">
                  <td class="tableBorderI2">Asistencia Vial</td>
                  <td>Amparada</td>
                  <td class="tableBorderF2">No aplica</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            ¿Quiénes deben contratar un Seguro de Moto para Reparto?
          </h2>
          <p>
            Todos los conductores de motos que realicen una actividad comercial
            con su vehículo deben contratar un seguro para repartidores en moto,
            entre ellos destacan:
          </p>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2"
          >
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Repartidores de comida
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Mensajería
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Repartidores de consumibles como despensa, alimentos no
                preparados, etc.
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-2 order-md-1 order-lg-1">
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/013.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            Importancia de contar con un Seguro para Moto si soy Repartidor
          </h2>
          <p>
            Además de cumplir con los requerimientos de la ley, contar con un
            seguro para moto garantiza que cuentes con los medios financieros y
            de asistencia necesarios para poder enfrentar un accidente de
            tránsito.
          </p>
          <p>
            En México, los accidentes de tránsito en moto son muy comunes, y
            dado el diseño del mismo vehículo hace que sus conductores sean
            vulnerables a lesiones o daños materiales de su vehículo.
          </p>
          <p>
            Con un seguro de moto para repartidor podrás proteger la inversión
            que has realizado en adquirir tu motocicleta al mismo tiempo que
            cuidas de tu integridad física ante siniestros viales.
          </p>
        </div>
      </div>

      <div class="col-12 pt-lg-2 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="pb-4 text-center">
            ¿Es obligatorio contar con un Seguro para Moto si soy Repartidor?
          </h2>
          <p>
            Si, contar con un seguro para moto es un requisito obligatorio por
            parte de la Ley de Caminos, Puentes y Autotransporte Federal, de no
            contar con una póliza activa podrás ser acreedor a una multa.
          </p>
          <p>
            Con Migo no solo cumplirás con este requisito, sino que además
            contarás con coberturas que brindan seguridad tanto a tu motocicleta
            como a tu bienestar.
          </p>
          <p>
            Las coberturas que ofrece Migo dentro del seguro para repartidores
            en Moto en México están diseñadas para buscar protección total, por
            lo que al momento de trabajar estarás tranquilo de tener un respaldo
            ante accidentes sin importar si estás o no realizando alguna
            entrega.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-2 pb-lg-2 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">¿Quién es Migo Seguros?</h2>
          <p>
            Somos una compañía de seguros digital 100% mexicana, nos
            especializamos en el diseño y operación de pólizas de seguros
            vehiculares, incluyendo el seguro de moto para reparto.
          </p>
          <p>
            Hoy en día ya son más de 5,000 usuarios que han confiando en la
            experiencia y solidez financiera de Migo Seguros.
          </p>
          <p>Además del seguro para motos también podrás encontrar:</p>
          <ul>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Seguro para auto
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Seguro ERT (Seguro para Uber, Didi, Cabify o Beat)
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Seguro para Pick ups
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Seguro para camiones
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Seguro para taxi
            </li>
          </ul>
          <p>
            Optimiza la contratación de tu seguro utilizando el cotizador de
            seguros de Migo
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">Preguntas Frecuentes:</h2>
          <p class="mb-0">
            <span class="rounded-circle circleF">1</span
            ><b
              >¿Contratar un Seguro de Moto para Repartidor es Obligatorio en
              México?</b
            >
          </p>
          <p>
            En México contar con un seguro para moto es obligatorio desde el año
            2019, de no tenerlo podrás ser acreedor a una multa.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">2</span
            ><b
              >¿Para qué aplicaciones me funciona mi Seguro para Repartidores en
              Moto?</b
            >
          </p>
          <p>
            Funciona para Uber Eats, Didi Food, Rappi, Corner Shop o cualquier
            otra aplicación o trabajo que requiera de una motocicleta para
            realizar entregas.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">3</span
            ><b>¿Cuál es la vigencia de mi seguro para moto?</b>
          </p>
          <p>
            La vigencia de tu seguro de moto es de un año a partir de la
            contratación.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">4</span
            ><b
              >¿Cuál es el teléfono para reportar un accidente a Migo
              Seguros?</b
            >
          </p>
          <p>
            Atención Vía Telefónica: 55 8890 2548 y Whatsapp: 55 28429403
            disponible las 24 horas del día.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">5</span
            ><b>¿Cómo realizar la renovación de mi póliza?</b>
          </p>
          <p>
            Podrás elegir hacer la renovación de tu póliza de forma manual o
            automática.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">6</span
            ><b>¿Puedo cancelar mi seguro de auto en cualquier momento?</b>
          </p>
          <p>Si, tu seguro podrá ser cancelado en cualquier momento.</p>
          <p class="mb-0">
            <span class="rounded-circle circleF">7</span
            ><b>¿Puedo contratar Migo en cualquier ciudad?</b>
          </p>
          <p>Si, Migo tiene cobertura Nacional.</p>
          <p class="mb-0">
            <span class="rounded-circle circleF">8</span
            ><b>¿Cuáles son las exclusiones del Seguro para Motos?</b>
          </p>
          <p>
            Todos aquellos daños generados intencionalmente o cualquier
            siniestro ocasionado a consecuencia de los efectos del alcohol,
            drogas o exceso de velocidad.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Header from "~/components/common/Head.vue";
import formulario from "~/components/forms/autosFormMulti.vue";
import icon from "~/components/utilities/iconos-nuevo.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  layout: 'cookies',
  beforeCreate: function () {
    this.$store.state.config.aseguradora = "MIGO";
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.interior = "motos-app";
    this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idMedioDifusion = 5952;
    this.$store.state.config.idMedioDifusionInteraccion = 5953;
    this.$store.state.config.idMedioDifusionEcommerce = 5954;
    this.$store.state.config.idPagina = 414;
    this.$store.state.config.idSubRamo = 49;
    this.$store.state.config.dominioCorreo =
      "MOTOS|MIGO|migoseguros-com-seguro-para-motos";
    this.$store.state.config.urlForm = "/motos-app/thank-you";
    this.$store.state.config.urlGracias = "/motos-app/thank-you";
    this.$store.state.config.imgen = "/seguro-para-motos";
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
  },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora,'motos'
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 =
          "col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 =
          "col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo = "descuentosPromo";
      }
    } catch (err) {
      console.log(err);
    }
  },

  components: {
    Header,
    formulario,
    icon,
  },
  head() {
    return {
      title:
        "▷ Seguro para Repartidores en Moto - Cotiza el Mejor Seguro para Repartidores",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Con el seguro para repartidores en moto podrás obtener protección ante choques o robos al trabajar en apps como Uber Eats, Didi Food, etc. ¡Cotiza ahora con Migo!",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Protege todos tus viajes en moto a través de la cobertura amplia que ofrece MIgo Seguros con el Seguro para Motos. ¡Cotiza ahora!",
        },
        { hid: "author", name: "author", content: "" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://migoseguros.com/seguro-para-motos/motos-app/",
        },
        { hid: "robots", name: "robots", content: "noindex,nofollow" },
      ],
    };
  },
};
</script>
