<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-5 text-center">
          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/logo-m.svg'"
            width="200"
            height="150"
            class="logop"
            alt="logo"
          />
        </div>
        <div class="row mx-auto">
          <div class="col-md-5">
            <p
              class="mb-0 tumejor text-center text-md-start mt-3 ms-lg-4 mejorop"
            >
              ¡Tu mejor opción en Seguros!
            </p>
            <ul class="text-start my-md-3 d-none d-md-block">
              <li>
                <img
                  loading="lazy"
                  :src="
                    $store.state.config.imgen + '/img/nuevas/check-rosa.svg'
                  "
                  alt="cotizar seguro de moto"
                  width="17"
                  height="17"
                  class="img-fluid me-2"
                />
                Paquete Amplia
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="
                    $store.state.config.imgen + '/img/nuevas/check-rosa.svg'
                  "
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid me-2"
                />
                Coberturas adicionales disponibles
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="
                    $store.state.config.imgen + '/img/nuevas/check-rosa.svg'
                  "
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid me-2"
                />
                Meses sin intereses {{ this.$store.state.config.msi }}
              </li>
            </ul>

            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/motos-02.webp'"
              width="300"
              height="256"
              class="img-fluid m-auto d-none d-md-block my-5"
              alt="moto"
            />
          </div>
          <div class="col-12 col-md-7 thanks p-0">
            <section class="fichamulti pb-2">
              <div class="thanks py-2">
                <p class="mb-0" id="idGraciasMotos">
                  Hola {{ this.$store.state.formData.nombre }}
                </p>
                <p class="tgra">
                  ¡El menor costo y las mejores coberturas con Migo Seguro!
                </p>
                <span class="gracias"
                  >COTIZASTE UN: {{ $store.state.formData.marca }}
                  {{ $store.state.formData.modelo }}
                  {{ $store.state.formData.descripcion }}
                  {{ $store.state.formData.detalle }}
                </span>
              </div>

              <loader
                v-if="
                  !$store.state.cargandocotizacion &&
                  !$store.state.msjEje &&
                  !$store.state.msj
                "
              />
              <div
                v-if="$store.state.cargandocotizacion"
                v-show="
                  $store.state.formData.precio != 0 ||
                  $store.state.formData.precio != null ||
                  $store.state.formData.precio != ''
                "
              >
                <p class="precio mb-0">Precio de tu seguro:</p>
                <span class="fw-bold fz-50 caractsg px-4 py-1">
                  {{ $store.state.formData.precio | currency }}
                </span>
              </div>

              <div class="mt-5" v-if="$store.state.cargandocotizacion">
                <botones></botones>
              </div>
              <div
                class="col-12 px-0"
                v-if="$store.state.msjEje"
                v-show="
                  $store.state.formData.precio === 0 ||
                  $store.state.formData.precio === null ||
                  $store.state.formData.precio === ''
                "
              >
                <msjEjecutivo />
              </div>
            </section>
            <div align="center">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/frase.svg'"
                width="500"
                height="250"
                class="img-fluid d-none d-md-block py-3"
                alt="camionprincipal"
              />
            </div>
          </div>
          <div
            v-if="$store.state.cargandocotizacion"
            v-show="
              $store.state.formData.precio != 0 ||
              $store.state.formData.precio != null ||
              $store.state.formData.precio != ''
            "
          >
            <tabla />
          </div>
          <logica></logica>
        </div>
      </div>
    </div>
    <br />
  </div>
</template>
<script>
import tabla from "~/components/utilities/tabla.vue";
import msjEjecutivo from "~/components/utilities/msjEjecutivo.vue";
import msj from "~/components/utilities/msj.vue";
import loader from "~/components/utilities/preLoader.vue";
import exclusivo from "~/components/common/exclusivos.vue";
import logica from "~/components/common/logica.vue";
import botones from "~/components/utilities/botones.vue";

export default {
  layout: "thanks",
  created: function () {
    // Cotizacion
    if (this.$store.state.formData.nombre != "") {
      this.$store.state.config.loading = true;
    } else {
      this.$router.replace({ path: "/error/" });
    }
    this.$store.state.config.loading = false;
  },
  components: {
    tabla,
    msjEjecutivo,
    msj,
    loader,
    exclusivo,
    logica,
    botones,
  },
  head() {
    return {
      title:
        "▷ Seguro para Repartidores en Moto - Cotiza el Mejor Seguro para Repartidores",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Con el seguro para repartidores en moto podrás obtener protección ante choques o robos al trabajar en apps como Uber Eats, Didi Food, etc. ¡Cotiza ahora con Migo!",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Protege todos tus viajes en moto a través de la cobertura amplia que ofrece MIgo Seguros con el Seguro para Motos. ¡Cotiza ahora!",
        },
        { hid: "author", name: "author", content: "zaid" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://migoseguros.com/seguro-para-motos/thank-you/",
        },
        { hid: "robots", name: "robots", content: "noindex,nofollow" },
      ],
    };
  },
};
</script>
