<template> 
    <div class="container-fluid text-center">
        <div class="row paddingT2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 paddingT">
                <h4 class="contentError">Algo salió mal, por favor inténtalo de nuevo. </h4>
                <p>&nbsp;</p><a class="errorlink btn btn-migo mb-4 btn-lg" :href="'/seguro-para-motos/'+this.$store.state.config.interior==''?'/':this.$store.state.config.interior">Regresar al inicio</a>
            </div>
            <!-- <div class="col-12 col-sm-12 col-md-9 col-lg-8"><img class="msda" src="img/asg/err.gif"></div> -->
        </div>
        <div class="row">
            <div class="separadorito"></div>
        </div>
        

  <div class="row">
    <div class="container-fluid city" style="bottom: 0; position: absolute; margin: 0; z-index: -1;"></div>
    <div class="container-fluid bgFooter" style="bottom: 0; z-index: 1;">
      <div class="row">
        <div class="col-12">
          <img src="img/asg/logo-ext.png" alt="Logo" class="logo" />
        </div>
      </div>
    </div>
  </div>

    </div>
</template> 
<script>
export default {
  layout: "thanks",
  
}
</script>
<style scoped>
body {
  background-color: #e8e8e8;
}
.paddingT {
  padding-top: 5rem;
}
.paddingT2 {
  padding-top: 2rem;
}
h1.titleError {
  font-size: 4rem;
  color: #007cf6;
}
.btn-migo{
  background: linear-gradient(to right, #ff2f5f 40%, #ff580e 100%);
  color: #fff
}
h4 {
  color: #585858;
  font-weight: 100;
  font-size: 2rem;
}
a.errorlink {
  text-decoration: none;
  font-weight: 600;
}
.msda {
  width: 100%;
  height: auto;
}
.separadorito {
  width: 100%;
  height: 4rem;
}
</style>