<template>
  <div>
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-12 col-md-6 text-center px-md-3 px-lg-5">
          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/logo.svg'"
            width="200"
            height="200"
            class="img-fluid logop"
            alt="cotizar seguro de auto"
          />
          <img
            v-if="this.$store.state.config.promoSpecial"
            :src="this.$store.state.config.promoImg"
            width="81"
            height="81"
            alt="cotizar seguro de auto"
            class="img-lluvia"
          />

          <h1
            class="mb-0 tumejor text-center text-md-start mt-3 ms-lg-4 mejorop"
          >
            ¡Cotiza tu Seguro para Moto!
          </h1>
          <ul class="text-start my-md-3 d-none d-md-block">
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check-rosa.svg'"
                alt="cotizar seguro de moto"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Paquete Amplia
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check-rosa.svg'"
                alt="cotizar seguro de moto"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Coberturas adicionales disponibles
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check-rosa.svg'"
                alt="cotizar seguro de moto"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Meses sin Intereses {{ this.$store.state.config.msiAuto }}
            </li>
          </ul>

          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/motos-02.webp'"
            width="440"
            height="323"
            class="img-fluid d-none d-md-block"
            alt="cotizar seguro de moto"
          />
        </div>
        <div class="col-12 col-md-6 pe-md-3 pe-lg-5 text-center">
          <section class="fichamulti py-md-2">
            <h1 class="text-center">¡Descuentos Exclusivos!</h1>
            <p class="mb-0 subnuevo text-center">
              ¡ {{ this.$store.state.config.promoLabel }}
              {{ this.$store.state.config.desc }}!
            </p>
            <formulario :config="this.$store.state.config" />
          </section>
          <img
            loading="lazy"
            :src="$store.state.config.imgen + '/img/nuevas/frase.svg'"
            width="500"
            height="250"
            class="img-fluid d-none d-md-block py-4"
            alt="camionprincipal"
          />
        </div>
      </div>
    </div>
    <!-- CONTENIDO -->
    <div class="container-fluid">
      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-5">
            ¡Protege todos tus Viajes con el Seguro para Motos de Migo!
          </h2>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-1 order-lg-1"
          >
            <p>
              Migo Seguros te acompaña en todo momento durante tus viajes en
              moto, garantizando tu seguridad y la de tu vehículo. A través del
              seguro para moto podrás obtener la mejor protección y asistencia
              ante los siniestros viales más comunes al momento de manejar.
            </p>
            <p>
              Utilizar una motocicleta tiene muchas ventajas, como menor uso de
              combustible, menor tiempo de traslado, precios más accesibles que
              un auto, etc., sin embargo también es considerada como uno de los
              vehículos con mayor número de accidentes en México.
            </p>
          </div>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-3 order-md-2 order-lg-2 text-center"
          >
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/001.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
          <div
            class="col-12 col-md-12 col-lg-12 m-auto order-2 order-md-2 order-lg-2"
          >
            <p>
              Al contratar un seguro para moto como Migo Seguros, podrás obtener
              beneficios exclusivos que no sólo responderán ante los daños de tu
              motocicleta, sino también ante cualquier situación que ponga en
              riesgo tu integridad.
            </p>
            <p>
              Migo cuenta con coberturas premium que te permitirán tener un
              respaldo económico para cubrir cualquier gasto generado por un
              accidente de tránsito, además de tener las asistencias viales y
              médicas indispensables para resolver cualquier siniestro.
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="pb-5 text-center">
            Coberturas del Seguro para Motos de Migo
          </h2>
          <p>
            Las coberturas de la póliza de seguro para motos de Migo están
            diseñadas con base al paquete de cobertura amplia, brindando al
            usuario la mayor protección disponible en México. Algunas de ellas
            son:
          </p>
          <div class="card-group row px-md-5 mx-auto">
            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/01.webp'"
                height="100"
                width="100"
                class="ici img-fluid mx-auto"
                alt="daños materiales"
              />

              <p class="text-center mb-0 tci">Daños materiales</p>
            </div>

            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/02.webp'"
                height="100"
                width="50"
                class="ici img-fluid mx-auto"
                alt="robo total"
              />
              <p class="text-center mb-0 tci">Robo total</p>
            </div>

            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/03.webp'"
                height="100"
                width="100"
                class="ici img-fluid mx-auto"
                alt="Responsabilidad civil"
              />
              <p class="text-center mb-0 tci">Responsabilidad Civil</p>
            </div>

            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/04.webp'"
                height="100"
                width="100"
                class="ici img-fluid mx-auto"
                alt="Gastos medicos del ocupante"
              />
              <p class="text-center mb-0 tci">Gastos Medicos del Ocupantes</p>
            </div>
          </div>

          <div class="card-group row my-md-4 px-md-5 mx-auto">
            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/05.webp'"
                height="100"
                width="100"
                class="ici img-fluid mx-auto"
                alt="Defensa legal"
              />
              <p class="text-center mb-0 tci">Defensa Legal</p>
            </div>

            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/06.webp'"
                width="100"
                height="100"
                class="ici img-fluid mx-auto"
                alt="Asistencia vial"
              />
              <p class="text-center mb-0 tci">Asistencia Vial</p>
            </div>

            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/07.webp'"
                width="100"
                height="100"
                class="ici img-fluid mx-auto"
                alt="Muerte accidental"
              />
              <p class="text-center mb-0 tci">Muerte accidental al Conductor</p>
            </div>

            <div
              class="card bordecardcont col-11 col-md-4 mx-auto mx-md-3 px-0 mx-auto"
            >
              <img
                :src="$store.state.config.imgen + '/img/nuevas/08.webp'"
                width="100"
                height="100"
                class="ici img-fluid mx-auto"
                alt="Responsabilidad civil"
              />
              <p class="text-center mb-0 tci">
                Responsabilidad Civil Daños a Ocupante
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="pb-4 text-center">
            ¿Cómo me protegen las Coberturas del Seguro para Motos de Migo?
          </h2>
          <p>
            Al comprar un seguro para moto online como el de Migo, podrás
            obtener beneficios exclusivos que responden de manera eficiente ante
            cualquier siniestro vial.
          </p>
          <p>
            Este seguro para motos te brindará protección total ante las
            principales amenazas que ponen en riesgo a tu vehículo, tu seguridad
            y economía.
          </p>
          <p>
            ¡Conoce cada uno de los beneficios que te ofrecen estas coberturas!:
          </p>
          <ul>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Responsabilidad Civil Daños a Terceros:</b> El cual cubre
              cualquier daño ocasionado a bienes personales y materiales de
              terceros.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Daños Materiales:</b> En caso de que tu motocicleta presente
              algún tipo de daño a consecuencia de un accidente vial podrás
              tener acceso a la red de talleres en convenio con Migo, dónde la
              reparación de tu vehículo será una garantía de calidad.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Gastos Médicos:</b> Respaldo ante estos gastos por concepto de
              hospitalización,terapias, enfermeras(os), etc.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Robo o pérdida total:</b> Indemnización en caso de robo o
              pérdida total de tu motocicleta en caso de un accidente.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Asistencia vial:</b> Servicio de técnico en caso de falla
              mecánica, envío de grúa, gasolina, etc.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Asistencia Legal:</b> Apoyo de abogado y asesoría legal en caso
              de requerirse.
            </li>
            <li class="my-2">
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              <b>Muerte Accidental al Conductor:</b> Esta cobertura funciona
              como un seguro de vida, es decir, en caso de que el conductor de
              la moto llegase a fallecer, Migo entregará una indemnización a los
              beneficiarios del mismo.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="pb-4 text-center">
            ¿Buscas mayor protección? Agrega Coberturas Adicionales a tu Seguro
            para Moto
          </h2>
          <p>
            Al cotizar tu seguro para moto, podrás elegir agregar coberturas
            adicionales que te permitirán crear una póliza que se adapte a
            ciertas necesidades específicas, creando así un seguro integral y
            100% personalizado.
          </p>
          <p>Algunas de estas coberturas extras que podrás contratar son:</p>
          <div
            class="col-12 col-md-6 col-lg-6 my-3 order-2 order-md-1 order-lg-1"
          >
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/002.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2"
          >
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                <b>Responsabilidad Civil Complementaria Personas: </b> Contrata
                sumas aseguradas adicionales desde 1 millón hasta 8 millones de
                pesos para poder cubrir gastos generados por daños a terceros.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            ¿Cuáles son los Beneficios de Contratar un Seguro para Moto con
            Migo?
          </h2>
          <p>
            Algunos de los beneficios más relevantes de contratar un seguro para
            moto son:
          </p>
          <ul>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Respaldo económico y asistencias viales, jurídicas y médicos ante
              siniestros viales
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Sumas aseguradas que respalden atención médica o incluso la
              muerte.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Tu póliza de seguro para motos está diseñada especialmente para
              cubrir riesgos mayores, por lo que es considerado como uno de los
              planes de protección más completos.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Amplia red de ajustadores en todo México.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Protección ante robo.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Servicio de ambulancia terrestre.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Protección en caso de daños materiales a tu motocicleta.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Atención a clientes ya sea vía telefónica, chat, etc las 24 horas
              del día.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid me-2"
              />
              Costos y descuentos exclusivos para garantizar que encontrarás un
              seguro para motos hecho a tu medida.
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            Riesgos ante los que me respalda el Seguro para Motocicleta de Migo
          </h2>
          <p>
            Con Migo los principales riesgos que se pueden generar al utilizar
            una motocicleta estarán cubiertos.
          </p>
          <p>
            Utilizar una moto siempre te hará más vulnerable a accidentes y
            daños, por lo que te recomendamos utilizar el cotizador de seguros
            para motos para contratar tu seguro lo más pronto posible.
          </p>
          <p>Algunos de estos riesgos son:</p>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1"
          >
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/003.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-1 order-md-2 order-lg-2"
          >
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Choques o volcaduras.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Daños materiales.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Vandalismo.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Robo total o parcial de tu moto.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Daños por desastres naturales.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Daños por inundación.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Protección de tu mercancía u objetos personales.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Defensa y asesoría legal.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">¿Cuánto cuesta un Seguro para Motos?</h2>
          <p class="pb-3">
            Encuentra los mejores precios al cotizar tu seguro para moto en
            México con Migo Seguros. Para conocer el precio de tu póliza se
            deben tomar en cuenta variables tanto de la moto como del asegurado,
            algunos de estos son:
          </p>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1"
          >
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/004.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 order-lg-2">
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Modelo, año, marca de la moto.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Edad, género y domicilio del asegurado.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Cobertura contratada.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Coberturas adicionales.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Sumas aseguradas y deducibles.
              </li>
              <p class="my-3">
                Invertir en la contratación de un seguro online para moto te
                ayudará a tener la confianza de manejar tranquilo y seguro
                durante todos tus trayectos.
              </p>
            </ul>
          </div>
          <div
            class="table-responsive pt-5 pb-4 order-3 order-md-3 order-lg-3"
            align="center"
          >
            <table
              class="table text-center sombra"
              style="width: 75% !important"
            >
              <thead class="encabezadoT">
                <tr>
                  <th class="tableBorderI" scope="col">Marca</th>
                  <th scope="col">Modelo</th>
                  <th class="tableBorderF" scope="col">
                    Precio Cobertura Amplia (Anual)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Yamaha</td>
                  <td>YZF</td>
                  <td>$17,987</td>
                </tr>
                <tr class="tablaC">
                  <td>Honda</td>
                  <td>CBR</td>
                  <td>$11,206.00</td>
                </tr>
                <tr>
                  <td>Harley-Davidson</td>
                  <td>Sportster</td>
                  <td>$10,674.00</td>
                </tr>
                <tr class="tablaC">
                  <td>Suzuki</td>
                  <td>GSX</td>
                  <td>$11,134.00</td>
                </tr>
                <tr>
                  <td>BMW</td>
                  <td>R1200</td>
                  <td>$10,829.00</td>
                </tr>
                <tr class="tablaC">
                  <td>Kawasaki</td>
                  <td>Ninja</td>
                  <td>$11,709.00</td>
                </tr>
                <tr>
                  <td>Italika</td>
                  <td>Ws</td>
                  <td>$4,238.00</td>
                </tr>
                <tr class="tablaC">
                  <td>Ducati</td>
                  <td>Monster</td>
                  <td>$10,262.00</td>
                </tr>
                <tr>
                  <td>Bajaj</td>
                  <td>Pulsar</td>
                  <td>$4,623.00</td>
                </tr>
                <tr class="tablaC">
                  <td>Polaris</td>
                  <td>Slingshot</td>
                  <td>$29,410.00</td>
                </tr>
                <tr>
                  <td>Vento</td>
                  <td>Nitrox</td>
                  <td>$4,471.00</td>
                </tr>
                <tr class="tablaC">
                  <td class="tableBorderI2">KMT</td>
                  <td>Duke</td>
                  <td class="tableBorderF2">$7,052.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            ¿Contratar un Seguro para Moto Online en minutos? Con Migo Seguros
            es Posible
          </h2>
          <p>
            Migo Seguros es la primera aseguradora mexicana 100% digital que
            tiene su propio cotizador de seguros para motos, a través del cual
            no solo conocerás los precios de cada plan, sino también coberturas
            o beneficios.
          </p>
          <p>¡Cotiza seguros para motos a través de estos sencillos pasos!:</p>
          <ul>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Ingresa a migoserguros.com
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Selecciona la sección “Cotizador Motos”
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Ingresa los datos que solicita el formulario: Marca, modelo, año y
              versión del vehículo, nombre del asegurado, edad y domicilio.
              Finalmente deberás compartir tus datos de contacto como correo
              electrónico y número de celular.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              En menos de un minuto, Migo te compartirá la información del
              seguro para motos que ofrece, como precio, coberturas, beneficios,
              etc.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Para brindarte mayor información un ejecutivo de Migo Seguros te
              llamará para resolver dudas
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Si no tienes dudas, podrás contratar tu seguro de manera inmediata
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Recibe tu póliza de seguro para motos de forma inmediata en tu
              correo electrónico
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              ¡Estás listo para manejar con protección!
            </li>
          </ul>
          <p>Cotizar tu seguro para moto con Migo es fácil y gratis.</p>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="text-center pb-4">
            Requisitos para contratar un Seguro para Moto
          </h2>
          <p>
            Al contratar tu seguro de moto online deberás contar con los
            siguientes documentos:
          </p>
          <div class="col-12 col-md-6 col-lg-6 pb-3">
            <div
              class="card"
              style="
                height: 100%;
                box-shadow: rgb(100 100 111 / 20%) 0px 2px 7px 0px;
                border: 0 !important;
              "
            >
              <div class="card-header encabezadoC text-center">
                <p class="m-0"><strong>Datos Personales:</strong></p>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Ser mayor de edad.
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Nombre completo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Identificación oficial como INE o Pasaporte.
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Licencia de conducir vigente
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Tarjeta de circulación
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Comprobante de domicilio no mayor a 3 meses
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Teléfono de contacto, de preferencia proporciona un teléfono
                    de celular.
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    RFC
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Correo electrónico
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 pb-3">
            <div
              class="card"
              style="
                height: 100%;
                box-shadow: rgb(100 100 111 / 20%) 0px 2px 7px 0px;
                border: 0 !important;
              "
            >
              <div class="card-header encabezadoC2 text-center">
                <p class="m-0"><strong>Datos del vehículo:</strong></p>
              </div>
              <div class="card-body">
                <ul>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Marca del automóvil
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Submarca del automóvil
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Modelo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Año de fabricación
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Número de serie del vehículo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Número de motor del vehículo
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Color de la carrocería
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Descripción general del automóvil
                  </li>
                  <li>
                    <img
                      loading="lazy"
                      :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                      alt="check"
                      width="17"
                      height="17"
                      class="img-fluid mr-2"
                    />
                    Placas
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            Métodos de Pago del Seguro para Motos Migo
          </h2>
          <p>
            A través de Migo Seguros, cotiza seguro para motos en línea con
            precios y promociones exclusivas, ahorra en la contratación de tu
            seguro mientras obtienes el seguro para motos más completo del país.
          </p>
          <p>
            Con tarjeta de crédito obtén hasta 3,6 y 12 meses sin intereses para
            contratar tu seguro de cobertura amplia.
          </p>
          <p>
            Además de los descuentos o promociones, Migo acepta casi cualquier
            método de pago tales como:
          </p>
          <div align="center">
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/cards.webp'"
              width="1116"
              height="295"
              class="img-fluid text-center"
              alt="Métodos de pago"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            Reporta un Siniestro con Migo Seguros
          </h2>
          <p>
            Los teléfonos de emergencia de Migo Seguros están disponibles las 24
            horas del día los 365 días del año, gracias a ello podrás obtener
            una respuesta inmediata ante cualquier emergencia. Para reportar un
            siniestro sigue los siguientes pasos:
          </p>
          <ul>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Comunícate desde cualquier dispositivo móvil al siguiente
              teléfono: 55 6651 6446. El cuál estará disponible las 24 horas del
              día los 365 días del año.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Al momento de llamar, recuerda tener a la mano tu póliza de seguro
              para motos de Migo, ubica el número de tu póliza y compartela,
              otros datos que te solicitarán son el nombre de quien reporta el
              accidente, nombre de quien se encontraba manejando al momento del
              accidente, color, marca y modelo del auto así como la ubicación
              donde te encuentras.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              En caso de heridos de gravedad deberás llamar a la par a cuerpos
              de emergencia al 911.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Migo Seguros te asignará un ajustador de seguros que llegará a tu
              ubicación en el menor tiempo posible para apoyarte.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Evita asumir responsabilidad alguna del incidente o negociar por
              tu propia cuenta. Los ajustadores de Migo están capacitados para
              intermediar la situación y dar la mejor resolución posible.
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            Recomendaciones al momento de contratar tu Seguro para Motos
          </h2>
          <p>
            Al utilizar un buscador de seguros para moto, como Migo Seguros, es
            importante tener en cuenta las siguientes recomendaciones para
            elegir la mejor opción:
          </p>
          <ul>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Elige una cobertura amplia que tenga coberturas funcionales ante
              los siniestros más comunes al manejar, y que su alcance de
              protección no se limite a terceros, sino que también protege tu
              vehículo y tu integridad, tal como el que ofrece el seguro para
              motos de Migo,
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Comparte información verídica al momento de cotizar tu seguro para
              moto en línea, tanto del vehículo como de tu información personal
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              Una vez que cuentes con tu póliza de seguro en tu correo
              electrónico, te recomendamos descargarla en tu teléfono móvil y
              llevarla siempre contigo.
            </li>
            <li>
              <img
                loading="lazy"
                :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                alt="check"
                width="17"
                height="17"
                class="img-fluid mr-2"
              />
              En caso de un siniestro, recuerda mantener la calma y comunicarte
              de inmediato a los números de emergencia de Migo Seguros.
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">
            Importancia de contratar un Seguro para Moto
          </h2>
          <p>
            A partir del año 2019, la Ley de Caminos, Puentes y Autotransporte
            Federal ha solicitado a todos los conductores de motocicletas contar
            con un seguro vehicular vigente. Esta póliza como mínimo deberá
            contar con la cobertura de “Daños a Terceros”, sin embargo, esta
            cobertura deja de lado la seguridad del vehículo y del conductor.
          </p>
          <p>
            Todos los seguros de Migo, incluido el seguro para motos tienen
            incluida la cobertura obligatoria por la ley, más otros beneficios
            que permiten que puedas contar con un respaldo ante momentos
            complicados. Además de apoyarte financieramente con liquidez
            suficiente para cubrir todos los gastos, tendrás los servicios
            necesarios para disminuir pérdidas monetarias, materiales o
            personales.
          </p>
          <p>
            Al cotizar tu seguro para moto en línea con Migo contarás con el
            plan de protección más completo y funcional para poder transitar en
            cualquier parte del país.
          </p>
        </div>
      </div>

      <div class="col-12 pt-lg-4 pb-lg-4 px-lg-5 px-md-4">
        <div class="row">
          <h2 class="pb-4 text-center">
            ¿Buscas mayor protección? Agrega Coberturas Adicionales a tu Seguro
            para Moto
          </h2>
          <p>
            Además de la contratación de un seguro para moto, es importante
            tomar otras medidas de precaución para poder garantizar viajes
            seguros. Algunos de estos son:
          </p>
          <div
            class="col-12 col-md-6 col-lg-6 m-auto order-2 order-md-1 order-lg-1"
          >
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/006.webp'"
              width="546"
              height="357"
              class="img-fluid"
              alt="Seguro Motos MIGO"
            />
          </div>
          <div class="col-12 col-md-6 col-lg-6 order-1 order-md-2 order-lg-2">
            <ul>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Uso de equipo de protección: Casco, ropa especial protectora,
                guantes, etc.
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Respeta en todo momento las señalizaciones de tránsito
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Maneja dentro de la velocidad permitida
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                No excedas la capacidad de acompañantes que te permite tu
                motocicleta
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Evita conducir bajo los efectos de alcohol, drogas o cualquier
                otra sustancia que distorsione tus sentidos
              </li>
              <li>
                <img
                  loading="lazy"
                  :src="$store.state.config.imgen + '/img/nuevas/check.svg'"
                  alt="check"
                  width="17"
                  height="17"
                  class="img-fluid mr-2"
                />
                Dale mantenimiento constante a tu motocicleta para evitar tener
                algún tipo de falla mecánica que pueda ponerte en riesgo
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-4 pb-lg-2 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">¿Quién es Migo Seguros?</h2>
          <p>
            Migo es una compañía de seguros digital establecida en México, su
            principal objetivo es crear procesos ágiles y confiables para
            contratar seguros. Uno de sus principales diferenciadores vs. otros
            competidores son las coberturas premium que este ofrece a precios
            exclusivos de hasta 25% o 30% menos.
          </p>
          <p>
            A través del cotizador de seguros para motos podrás obtener el
            precio de tu póliza, conocer todo lo que ofrece y contratarlo en un
            solo lugar en minutos.
          </p>
          <p>
            Actualmente más de 5,000 autos han confiado en Migo de manera
            exitosa.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 pt-lg-4 pb-lg-3 px-lg-5 px-md-4">
          <h2 class="text-center pb-4">Preguntas Frecuentes:</h2>
          <p class="mb-0">
            <span class="rounded-circle circleF">1</span
            ><b>¿Contratar un Seguro para Motos es Obligatorio en México?</b>
          </p>
          <p>
            Si, desde el año 2019, todos los vehículos deberán portar con un
            seguro vigente con mínimo la cobertura de Responsabilidad Civil, de
            lo contrario podrás ser acreedor a una multa.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">2</span
            ><b>¿Cuál es la vigencia de mi seguro para moto?</b>
          </p>
          <p>Un año a partir de la fecha de la firma de contrato.</p>
          <p class="mb-0">
            <span class="rounded-circle circleF">3</span
            ><b
              >¿Cuál es el teléfono para reportar un accidente a Migo
              Seguros?</b
            >
          </p>
          <p>
            Atención Vía Telefónica: 55 8890 2548 y Whatsapp: 55 28429403
            disponible las 24 horas del día.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">4</span
            ><b>¿Cómo realizar la renovación de mi póliza?</b>
          </p>
          <p>
            Al momento de contratarlo podrás elegir entre elegir una renovación
            automática o realizarlo de forma manual, si eliges esta última
            opción, lo ideal es solicitar la renovación al menos un mes antes de
            su vencimiento, para así evitar quedar desprotegido.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">5</span
            ><b>¿Puedo cancelar mi seguro de auto en cualquier momento?</b>
          </p>
          <p>
            En caso de que ya no requieras más el servicio, uno de nuestros
            asesores se comunicará contigo para conocer tus motivos y buscar una
            solución en conjunto, sin embargo si tu decisión es solicitar la
            cancelación, lo podrás realizar en cualquier momento.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">6</span
            ><b>¿Puedo contratar Migo en cualquier ciudad?</b>
          </p>
          <p>Si, Migo tiene cobertura Nacional.</p>
          <p class="mb-0">
            <span class="rounded-circle circleF">7</span
            ><b>¿Cuáles son las exclusiones del Seguro para Motos?</b>
          </p>
          <p>
            Todos aquellos daños generados intencionalmente o cualquier
            siniestro ocasionado a consecuencia de los efectos del alcohol,
            drogas o exceso de velocidad.
          </p>
          <p class="mb-0">
            <span class="rounded-circle circleF">8</span
            ><b>¿Cómo realizó el pago de mi póliza?</b>
          </p>
          <p>
            Para pagar la póliza de tu seguro de automóvil utiliza el portal web
            de Migo Seguro.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Header from "~/components/common/Head.vue";
import formulario from "~/components/forms/autosFormMulti.vue";
import icon from "~/components/utilities/iconos-nuevo.vue";
import getInsurerPromo from "~/plugins/promoData.js";

export default {
  layout: 'cookies',
  beforeCreate: function () {
    this.$store.state.config.aseguradora = "MIGO";
    this.$store.state.config.interior = "";
    this.$store.state.config.cotizacion = false;
    this.$store.state.config.emision = true;
    this.$store.state.config.grupoCallback = "VN Motos";
    this.$store.state.config.from = "DOMINIO-MOTOS";
    this.$store.state.config.idMedioDifusion = 1588;
    this.$store.state.config.idPagina = 286;
    this.$store.state.config.idSubRamo = 51;
    this.$store.state.config.dominioCorreo =
      "MOTOS|MIGO|migoseguros-com-seguro-para-motos";
    this.$store.state.config.urlForm = "/thank-you";
    this.$store.state.config.k1 = "Seguro para Motos";
    this.$store.state.config.k2 = "Seguros para Motos";
    this.$store.state.config.k3 = "Seguros de Motos";
    this.$store.state.config.k4 = "cuánto cuesta un seguro para Motos";
    this.$store.state.config.k5 = "Seguro para Motos precios";
    this.$store.state.config.idPagina = 286;
    this.$store.state.config.idSubRamo = 172;
    this.$store.state.config.urlGracias = "/thank-you";
    this.$store.state.config.imgen = "/seguro-para-motos";
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";

  },

  async created() {
    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora,
        "motos"
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;

      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 =
          "col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 =
          "col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo = "descuentosPromo";
      }
    } catch (err) {
      console.log(err);
    }
  },

  components: {
    Header,
    formulario,
    icon,
  },
  head() {
    return {
      title: "▷ Seguro para Motos - Cotizador de Seguro para Motos Migo",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:
            "Seguro para motos, seguro para moto, cotizar seguro para moto, póliza de seguro para motos, cotizador de seguros para motos, cotizar seguro para moto en México seguro online para moto, seguros para motos cotizar online, seguro para motos online, seguros en línea para motos, comprar seguro para moto online, cotizador de seguros para motos en México, buscador de seguros para moto, contrata seguro para moto, contrata seguro para motos, contratar seguro para moto, contratar seguro para moto online, cotizar seguro para moto en línea",
        },
        {
          hid: "description",
          name: "description",
          content:
            "Protege todos tus viajes en moto a través de la cobertura amplia que ofrece MIgo Seguros con el Seguro para Motos. ¡Cotiza ahora!",
        },
        { hid: "author", name: "author", content: "" },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml",
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://migoseguros.com/seguro-para-motos/",
        },
        { hid: "robots", name: "robots", content: "index,follow" },
      ],
    };
  },
};
</script>
