<template>
  <!-- PROMOCIONES -->
  <div id="zaid" class="container-fluid alertaColor">
    <div v-if="$store.state.config.default === true">
      <div class="alert py-0 my-0" role="alert">
        <div class="row">
          <div class="col-12 col-xl-10 offset-xl-1">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span class="x" onclick="document.getElementById('zaid').style.display='none'">&times;</span>
            </button>
            <div class="row">
              <img :id="$store.state.config.idImagen" :src="'/img/'+$store.state.config.imagen"/>
              <div class="media-body">
                <p class="mb-0">Obtén {{$store.state.config.desc}} {{$store.state.config.msi}}</p>
           
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  created: function() {
    this.$store.state.config.default = false;
    this.$store.state.config.desc = "25% de descuento"; 
    this.$store.state.config.msi = " + 6 y 12 ";
    
    this.$store.state.config.imgPromo = "d-none";
    this.$store.state.config.colDesc = "col-8 col-md-8";

  },
  mounted() {
     this.fecha();
  },
  methods: {
    fecha: function() {
      var fecha = new Date();
      var dia = fecha.getDate();
       if (dia >= 10 && dia <=  17) { 
        
        this.$store.state.config.desc = "30% de descuento"; 
        this.$store.state.config.msi = " + 6 y 12 ";
        
      }
      if (dia >= 30 && dia <=  31 ) { 
         this.$store.state.config.desc = "30% de descuento"; 

      }
    }
  }
};
</script>

