<template>
  <div class="container-fluid">
    <div class="row">
      <form
        class="mt-4 mt-md-2"
        id="formcotizar"
        method="POST"
        action=""
        novalidate
        @submit.prevent="validateBeforeSubmit('formcotizar')"
      >
        <div class="row py-md-2 form-row">
          <div class="col-12 mb-md-2 padd">
            <input
              id="marca"
              name="marca"
              required=""
              type="hidden"
              v-model="$store.state.formData.marca"
            />
            <input
              id="modelo"
              name="modelo"
              required=""
              type="hidden"
              v-model="$store.state.formData.modelo"
            />
            <input
              id="descripcion"
              name="descripcion"
              required=""
              type="hidden"
              v-model="$store.state.formData.descripcion"
            />
            <input
              id="detalle"
              name="detalle"
              required=""
              type="hidden"
              v-model="$store.state.formData.detalle"
            />
            <multiselect
              ref="multiselect"
              :allow-empty="false"
              v-model="value"
              class="form-control acentoBorde"
              required=""
              deselectGroupLabel=""
              :searchable="false"
              selectGroupLabel=""
              tagPlaceholder=""
              deselectLabel=""
              selectLabel=""
              :options="options"
              :multiple="true"
              :close-on-select="ready"
              :clear-on-select="true"
              :hide-selected="true"
              :preserve-search="false"
              :placeholder="placeholderSelect"
              :loading="isLoading"
              label="text"
              track-by="id"
              open-direction="bottom"
              :taggable="true"
              @select="dispatchAction"
              @close="isOpen = false"
              @open="isOpen = true"
            >
              <template slot="tag" slot-scope="props"
                ><span class="tag"
                  >{{ props.option.text
                  }}<a
                    class="custom__remove"
                    style="cursor: pointer"
                    @click="
                      props.remove(props.option);
                      refreshSomething(props.option);
                    "
                    >✖️ <span>&nbsp;</span>
                  </a>
                </span></template
              >
            </multiselect>
            <small
              style="display: none; color: red; font-size: 11px"
              class="marcaReq"
              ><span>El campo marca es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="modeloReq"
              ><span>El campo modelo es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="descripcionReq"
              ><span>El campo descripción es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="detalleReq"
              ><span>El campo subDescripción es requerido</span></small
            >
          </div>
        </div>

        <div class="row py-2 form-row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd">
            <select
              title="edad"
              name="edad"
              id="edad"
              required
              class="form-control form-select fs14 form-style"
              style="overflow: hidden; width: 100%"
              @change="
                calculaFechaNacimiento(),
                  myFocus('genero'),
                  warningReq('edadReq')
              "
              v-model="$store.state.formData.edad"
            >
              <option value>Edad</option>
              <option v-for="e in edades" v-bind:key="e">{{ e }}</option>
            </select>
            <small
              style="display: none; color: red; font-size: 11px"
              class="edadReq"
              ><span>El campo edad es requerido</span></small
            >
          </div>

          <!-- GENERO -->
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd">
            <select
              title="genero"
              name="genero"
              required=""
              id="genero"
              class="form-control form-select fs14 form-style"
              style="overflow: hidden; width: 100%"
              @change="myFocus('cp'), warningReq('generoReq')"
              v-model="$store.state.formData.genero"
            >
              <option value>Género</option>
              <option value="M">Masculino</option>
              <option value="F">Femenino</option>
            </select>
            <small
              style="display: none; color: red; font-size: 11px"
              class="generoReq"
              ><span>El campo género es requerido</span></small
            >
          </div>
          <!-- CODIGO POSTAL -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd form-floating"
          >
            <input
              title="cp"
              type="tel"
              name="cp"
              id="cp"
              required=""
              maxlength="5"
              minlength="5"
              onKeyPress="if(this.value.length === 5) return false;"
              class="form-control form-style"
              placeholder="Escribe tu Código Postal"
              @change="myFocus('nombre')"
              v-model="cp"
            />
            <label
              for="cp"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
            >
              Código Postal</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="cpReq"
              ><span>El campo código postal es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="cpInc"
              ><span style="color: #ff035c"
                >Escribe tu código postal a 5 dígitos</span
              ></small
            >
          </div>
          <!-- NOMBRE -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 mb-2 padd form-floating"
          >
            <input
              title="nombre"
              type="text"
              name="nombre"
              id="nombre"
              required=""
              pattern=" [a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.] {3,50}"
              class="form-control form-style"
              placeholder="Escribe tu nombre"
              v-model="nombre"
              @change="space('nombre')"
            />
            <label
              for="nombre"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
              >Nombre</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="nombreReq"
              ><span>El campo nombre es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="nombreInc"
              ><span style="color: #ff035c"
                >Escribe el nombre correcto</span
              ></small
            >
          </div>
          <!-- CORREO -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 padd mb-2 form-floating"
          >
            <input
              title="correo"
              type="email"
              @change="space('correo')"
              name="correo"
              id="correo"
              required
              pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
              minlength="8"
              maxlength="50"
              class="form-control form-style"
              placeholder="Escribe tu email"
              v-model="correo"
            />
            <label
              for="correo"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
              >E-mail</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="correoReq"
              ><span>El campo e-mail es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="correoInc"
              ><span style="color: #ff035c"
                >Ejemplo: tuemail@email.com</span
              ></small
            >
          </div>
          <!-- TELEFONO -->
          <div
            class="col-12 col-sm-12 col-md-6 col-lg-4 padd mb-2 form-floating"
          >
            <input
              title="telefono"
              type="tel"
              name="telefono"
              id="telefono"
              required=""
              pattern="^(0*[,.]*[0-9][0-9]*([,.][0-9]+)*|[0-9]?[,.][0-9]*[1-9][0-9]*)?\d{10}$"
              maxlength="10"
              minlength="10"
              onKeyPress="if(this.value.length === 10) return false;"
              class="form-control form-style"
              placeholder="Escribe tu teléfono"
              @change="myFocus('btnCotizarAuto')"
              v-model="telefono"
            />
            <label
              for="telefono"
              class="text-center ps-4 pt-2"
              style="font-size: 1rem"
              >Teléfono</label
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="telefonoReq"
              ><span>El campo teléfono es requerido</span></small
            >
            <small
              style="display: none; color: red; font-size: 11px"
              class="telefonoInc"
              ><span style="color: #ff035c"
                >Escribe tu número a 10 dígitos</span
              ></small
            >
          </div>
          <input
            type="text"
            id="gclid_field"
            name="gclid_field"
            value=""
            style="visibility: hidden; height: 1px; display: none"
          />
        </div>
        <!-- CHECKBOX -->
        <div class="col-12 text-center">
          <privacidad-component />
        </div>
        <div class="col-12 px-0">
          <button
            type="submit"
            class="btn btn-successCuadrado btn-lg col-12 mt-1 mb-4 rounded-0"
            id="btnCotizarAuto"
            :disabled="oneClick"
          >
            Cotizar Gratis
            <img
              loading="lazy"
              :src="$store.state.config.imgen + '/img/nuevas/arrow-01.svg'"
              alt="arrow"
              width="14"
              height="23"
            />
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import privacidadComponent from "~/components/common/privacidad.vue";
import catalogosDirectos from "~/plugins/catalogosDirectos";
import Multiselect from "vue-multiselect";
import saveDataCliente from "~/plugins/saveDataCliente";

const catalogoDirecto = new catalogosDirectos();

export default {
  data() {
    return {
      accessToken: "",
      stepLocal: 0,
      oneClick: false,
      block: "['backspace']",
      isOpen: false,
      selected: {},
      placeholderSelect: "Selecciona una marca",
      edad: "",
      edades: [],
      genero: "",
      telefono: "",
      cp: "",
      ready: false,
      isLoading: false,
      detalles: [],
      firstStep: true,
      detalleS: [],
      aseguradora: "",
      x: {},
      cotizacionResponse: {},
      descuentoS: "0",
      value: [],
      options: [],
      cotizaciones: [],
      email: "",
      filteredOptions: [],
      nombre: "",
      correo: "",
      marca: "",
      modelo: "",
      descripcion: "",
      detalle: "",
      formValido: 0,
      warning_req: [
        { id: "marcaReq" },
        { id: "modeloReq" },
        { id: "descripcionReq" },
        { id: "detalleReq" },
        { id: "edadReq" },
        { id: "generoReq" },
        { id: "cpReq" },
        { id: "nombreReq" },
        { id: "correoReq" },
        { id: "telefonoReq" },
      ],
    };
  },
  components: {
    privacidadComponent,
    Multiselect,
  }, //FIN components
  beforeCreate() {
    this.$store.commit("validarTokenCore");
    this.$store.commit("telApi");
    this.$store.commit("cotizacionPromo");
    this.isLoading = true;
  }, //FIN beforeCreate

  async created() {
    if (!this.$store.state.config.loading) {
      this.$store.state.config.loading = true;
      if (typeof window !== "undefined") {
        window.location.reload();
      }
    }
    //URL ORIGEN
    if (typeof window !== "undefined") {
      this.$store.state.formData.urlOrigen = window.location.href;
    }
    // INICIO DE LA DETECCION DE UTM
    this.$store.state.formData.utmSource = this.$route.query.utm_source
      ? this.$route.query.utm_source
      : "No params detected";
    this.$store.state.formData.utmMedium = this.$route.query.utm_medium
      ? this.$route.query.utm_medium
      : "No params detected";
    this.$store.state.formData.utmCampaign = this.$route.query.utm_campaign
      ? this.$route.query.utm_campaign
      : "No params detected";
    this.$store.state.formData.utmId = this.$route.query.utm_id
      ? this.$route.query.utm_id
      : "No params detected";
    // FIN DE LA DETECCION DE UTM
    this.refreshMarcas();
    this.llenarEdades();

    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {});
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
  }, //FIN async created
  methods: {
    gclid: function () {
      if (
        localStorage.getItem("gclid") === null ||
        localStorage.getItem("gclid") === "undefined"
      ) {
        console.log("no existe gclid");
      } else {
        console.log("si existe gclid");
        this.$store.state.gclid_field = localStorage.getItem("gclid");
        this.$store.state.formData.gclid_field = JSON.parse(
          this.$store.state.gclid_field
        );
      }
    },
    space: function (valor) {
      // debugger
      let cadena = this[valor];
      let primero = cadena.search("@");
      let separado;
      let cad2 = "";
      // se le quita el ultimo
      if ([valor] == "correo") {
        if (primero) {
          separado = cadena.substring(primero + 1, cadena.length).split("@");
          separado.forEach((element) => {
            cad2 += element.replaceAll("@", "");
          });
        }
        cadena = cadena.substring(0, primero + 1) + cad2;
        cadena = cadena.split(" ").join(" ").trim();
        // elimina todos los espacios encontrados
        cadena = cadena.replace(/\s+/g, "");
      } else {
        // se le quita el ultimo espacio
        cadena = cadena.split(" ").join(" ").trim();
      }
      this[valor] = cadena;
    },
    refreshMarcas: function () {
      this.options = [];
      this.isLoading = true;
      catalogoDirecto
        .marcas(this.accessToken)
        .then((resp) => {
          resp.data.forEach((el) => {
            this.options.push({ id: "o" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "Selecciona una Marca";
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.refreshMarcas();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
              });
          } else {
            console.log("Hubo un problema al cargar las Marcas");
          }
        });
    },
    refreshModelos: function () {
      this.options = [];
      this.isLoading = true;
      catalogoDirecto
        .modelos(this.$store.state.formData.marca, this.accessToken)
        .then((resp) => {
          // this.options = resp.data;
          resp.data.forEach((el) => {
            this.options.push({ id: "o" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "Selecciona un modelo";
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.refreshModelos();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
          }
        });
    },
    refreshDescripciones: function () {
      this.options = [];
      this.isLoading = true;
      catalogoDirecto
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.accessToken
        )
        .then((resp) => {
          // this.options = resp.data;
          resp.data.forEach((el) => {
            this.options.push({ id: "d" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "Selecciona una descripcion";
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.refreshDescripciones();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
          }
        });
    },
    refreshSubdescripciones: function () {
      this.options = [];
      this.isLoading = true;

      catalogoDirecto
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion,
          this.accessToken
        )
        .then((resp) => {
          // this.options = resp.data;
          resp.data.forEach((el) => {
            this.options.push({ id: "s" + el.id, text: el.text });
          });
          this.isLoading = false;
          this.placeholderSelect = "Selecciona una subdescripcion";
        })
        .catch((error) => {
          console.log(error);
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              })
            : JSON.stringify({
                error: error,
                peticion: {
                  aseguradora: this.$store.state.formData.aseguradora,
                  marca: this.$store.state.formData.marca,
                },
              });
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.accessToken = resp.data.accessToken;
                }
                this.refreshSubdescripciones();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                var status =
                  error.response !== undefined ? error.response.status : 500;
                var message =
                  error.response !== undefined
                    ? JSON.stringify({
                        error: error.response.data,
                        peticion: JSON.parse(error.config.data),
                      })
                    : JSON.stringify({
                        error: "ERR_CONNECTION_REFUSED",
                        peticion: { tokenData: tokenData },
                      });
              });
          } else {
            console.log("Hubo un problema al cargar los modelos");
          }
        });
    },
    dispatchAction(newVal) {
      this.options = [];

      if (newVal.id.charAt(0) === "o" && newVal.id.charAt(1) === "m") {
        this.options = [];
        this.marca = newVal.text;
        this.$store.state.formData.marca = newVal.text;
        this.selected = {};
        this.refreshModelos();
        this.warningReq("marcaReq");
        // this.stepLocal = 1;
      } else if (newVal.id.charAt(0) === "o") {
        this.options = [];
        this.modelo = newVal.text;
        this.selected = {};
        this.$store.state.formData.modelo = newVal.text;
        this.refreshDescripciones();
        this.warningReq("modeloReq");
        // this.stepLocal = 2;
      } else if (newVal.id.charAt(0) === "d") {
        this.options = [];
        this.descripcion = newVal.text;
        this.$store.state.formData.descripcion = newVal.text;
        this.selected = {};
        this.refreshSubdescripciones();
        this.warningReq("descripcionReq");
        // this.stepLocal = 3;
      } else if (newVal.id.charAt(0) === "s") {
        this.detalle = newVal.text;
        this.$store.state.formData.detalle = newVal.text;
        this.$store.state.formData.clave = newVal.id.substring(1);
        this.myFocusMulty("edad");
        this.placeholderSelect = "";
        this.isLoading = false;
        this.warningReq("detalleReq");
      }
    },
    refreshSomething: function (deleted) {
      
      if (deleted.id.charAt(0) === "o" && deleted.id.charAt(1) === "m") {
       
        this.limpiarMarcas();
        return;
      } else if (deleted.id.charAt(0) === "o") {
    
        this.limpiarModelos();
        return;
      } else if (deleted.id.charAt(0) === "d") {
        this.limpiarDescripciones();
        return;
      } else if (deleted.id.charAt(0) === "s") {
        this.limpiarsubDescripcion();
        return;
      }
    },
    limpiarMarcas: function () {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.marca = "";
      this.ready = false;
      this.value = [];
      this.refreshMarcas();
      this.warningReq("marcaReq");
      this.warningReq("modeloReq");
    },
    limpiarModelos: function () {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.modelo = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (this.value[i].id.charAt(0) == "o" && this.value[i].id.charAt(1) == "m") x.push(this.value[i]);
      this.value = x;
      this.refreshModelos();
      this.warningReq("modeloReq");
      this.warningReq("descripcionReq");
    },
    limpiarDescripciones() {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.descripcion = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (
          this.value[i].id.charAt(0) == "m" ||
          this.value[i].id.charAt(0) == "o"
        )
          x.push(this.value[i]);
      this.value = x;
      this.refreshDescripciones();
      this.warningReq("descripcionReq");
      this.warningReq("detalleReq");
    },
    limpiarsubDescripcion() {
      this.selected = {};
      this.$store.state.formData.detalle = "";
      this.ready = false;
      var x = [];
      for (var i in this.value)
        if (
          this.value[i].id.charAt(0) == "m" ||
          this.value[i].id.charAt(0) == "o" ||
          this.value[i].id.charAt(0) == "d"
        )
          x.push(this.value[i]);
      this.value = x;
      this.refreshSubdescripciones();
      this.warningReq("detalleReq");
    },
    validateBeforeSubmit(scope) {
      this.formValido = 1;
      for (var w in this.warning_req) {
        //w=indices
        this.warningReq(this.warning_req[w].id);
      }
      if (this.formValido) {
        this.oneClick = true;
        if (typeof this.$store.state.formData != "undefined") {
          if (this.$store.state.formData.detalle != "") {
            this.$router.push({ path: this.$store.state.config.urlGracias });
          }
        }
      }
    },
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },

    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad)
      ).toString("dd/MM/yyyy");
      // this.myFocus("genero");
    },
    llenarEdades() {
      for (var i = 18; i <= 99; i++) {
        this.edades.push(i);
      }
    },
    myFocus: function (id) {
      setTimeout(alertFunc, 500);
      function alertFunc() {
        if (typeof document != "undefined") {
          var e = document.getElementById(id);
          if (e) {
            e.focus();
          }
        }
      }
    },
    myFocusMulty: function (id) {
      document.getElementById(id).focus();
    },
   
    //Validacion para funnel
    warningReq: function (idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //valida que exista
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if (typeof req[0] != "undefined") {
          req[0].style.display = "none";
        }
        //catalogos
        if (id == "marca" && this.$store.state.formData.marca == "") {
          var req = document.getElementsByClassName(idWarning);
          if (typeof req[0] != "undefined") {
            req[0].style.display = "block";
            this.formValido = 0;
          }
        }
        if (
          id == "modelo" &&
          this.$store.state.formData.modelo == "" &&
          this.$store.state.formData.marca != ""
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "descripcion" &&
          this.$store.state.formData.descripcion == "" &&
          this.$store.state.formData.modelo != ""
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }
        if (
          id == "detalle" &&
          this.$store.state.formData.detalle == "" &&
          this.$store.state.formData.descripcion != ""
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }
        if (
          (id == "cp" && this.$store.state.formData.cp == "") ||
          this.cp.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "nombre" && this.$store.state.formData.nombre == "") ||
          this.nombre.search(/[0-9]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (id == "correo" && this.$store.state.formData.correo == "") {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        } else if (
          (id == "telefono" && this.$store.state.formData.telefono == "") ||
          this.telefono.search(/[a-zA-Z]/g) != -1
        ) {
          this.formValido = 0;
          if (elemento.value == "") {
            this.warningView(idWarning, "block");
          }
        }
        //demas campos
        var valor = elemento.value;
        if (
          valor == "" &&
          (idWarning == "edadReq" || idWarning == "generoReq")
        ) {
          this.warningInc(idWarning, "block");
          this.formValido = 0;
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningInc: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningInc
    myTrim_start: function (x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    warningView: function (id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    checkCaracter: function (caracter, tipo) {
      var regExp = "";
      if (tipo == "numero") {
        regExp = /[0-9]/;
      } else {
        regExp = /[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;
      }
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function (veces, valor, excepcion) {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result && valor != excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1, valor.length);
        return inicio + final;
      } else {
        return valor;
      }
    },
    expresionRegularFinal: function (regExp, valor, campo) {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo + "Inc", "none");
        this.warningReq(campo + "Req");
      } else {
        this.$store.state.formData[campo] = "";
        //Oculta advertencia REQUERIDO
        this.warningReq(campo + "Req" );
        //Muestra advertecia INCORRECTO
        this.warningView(campo + "Inc", "block");
      }
    },
  }, //FIN methods
  watch: {
    telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function () {
      //version2

      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if (this.nombre.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.nombre.substring(
          this.nombre.length - 1,
          this.nombre.length
        );
        var result = this.checkCaracter(ultimoCaracter, "letra");
        if (result) {
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2, this.nombre, null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,
            this.nombre,
            "nombre"
          );
        } else {
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length - 1);
        }
      } else {
        this.$store.state.formData.nombre = "";
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function () {
      //version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim(); //no funciona en el campo tipo email
      if (this.correo.length > 0) {
        //un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3, this.correo, null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,
          "correo"
        );
      } else {
        this.$store.state.formData.correo = "";
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function () {
      //version2
      if (this.cp.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.cp.substring(
          this.cp.length - 1,
          this.cp.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4, this.cp, "33333");
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/, this.cp, "cp");
          if (this.cp.length == 5) {
            setTimeout(() => {
              this.myFocus("nombre");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length - 1);
        }
      } else {
        this.$store.state.formData.cp = "";
        //Oculta advertencia INCORRECTO
        this.warningView("cpInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
